.bg {
    @each $key, $value in $bg-colors {
        &-#{$key} {
            @include setProperty('background-color', $value, 'bg');

            @if (getValue($value, 'color')) {
                @include setProperty('color', $value, 'color');
            }
        }
    }

    &-gradient-main {
        color: $white;
        background: $brown-300 linear-gradient(90deg, $purple, $brown-300);
    }

    &-gradient-gray {
        background-image: linear-gradient(90deg, $gray-235 30%, $gray-420 100%);
    }

    &-gradient-lightgray {
        background-image: linear-gradient(90deg, $gray-240 30%, $gray-300 100%);
    }
}
