@font-face {
    font-family: 'ALS Hauss';
    src: local('../fonts/ALS Hauss'), local('ALSHauss-Regular'),
         url('../fonts/ALSHauss-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: local('../fonts/ALS Hauss Medium'), local('ALSHauss-Medium'),
         url('../fonts/ALSHauss-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: local('../fonts/ALS Hauss Bold'), local('ALSHauss-Bold'),
         url('../fonts/ALSHauss-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: local('../fonts/Navigo Medium'), local('Navigo-Medium'),
         url('../fonts/Navigo-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: local('../fonts/Navigo Bold'), local('Navigo-Bold'),
         url('../fonts/Navigo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: local('../fonts/Whitney Book'), local('Whitney-Book'),
         url('../fonts/Whitney-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}