@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?wo75bj#iefix') format('embedded-opentype'),
       url('../fonts/icons.svg?wo75bj') format('svg'),
       url('../fonts/icons.woff?wo75bj') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
button.mfp-arrow-left:before,
button.mfp-arrow-right:before,
.swiper-button-next:after,
.swiper-button-prev:after,
.select2-selection__arrow:before,
.breadcrumb__item:before,
.offer-card__info > li:before,
.review-card--written .review-card__picture:before,
.form__rating:before,
.form__rating:after,
.list-check > li:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-photo:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-arrow-left:before,
.swiper-button-prev:after,
button.mfp-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before,
.swiper-button-next:after,
button.mfp-arrow-right:before {
  content: "\e903";
}
.icon-arrow-right-2:before,
.breadcrumb__item:before {
  content: "\e904";
}
.icon-caret-down:before,
.select-metro .select2-selection__arrow:before,
.select-icon .select2-selection__arrow:before {
  content: "\e919";
}
.icon-check-circle:before,
.offer-card__info > li:before,
.list-check > li:before {
  content: "\e905";
}
.icon-chevron-down:before,
.select2-selection__arrow:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e908";
}
.icon-chevron-right:before {
  content: "\e909";
}
.icon-copy:before {
  content: "\e90a";
}
.icon-drive:before {
  content: "\e90b";
}
.icon-info:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-map-pin:before {
  content: "\e90e";
}
.icon-moscow-metro:before {
  content: "\e918";
}
.icon-parking:before {
  content: "\e90f";
}
.icon-pdf:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-thumb-down:before,
.form__rating:before {
  content: "\e914";
}
.icon-thumb-up:before,
.form__rating:after {
  content: "\e915";
}
.icon-volume:before {
  content: "\e916";
}
.icon-zoom-in:before,
.review-card--written .review-card__picture:before {
  content: "\e917";
}
.icon-pedestrian:before {
  content: "\e91a";
}
.icon-train:before {
  content: "\e91c";
}
.icon-bus:before {
  content: "\e91b";
}