//
// Links
//

a {
    color: $link-color;
    text-decoration: $link-decoration;
    outline: 0;
    @include transition(all 0.2s ease-in-out);

    @include hover-focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

.link-inherit {
    color: inherit;

    @include hover-focus {
        color: inherit;
        text-decoration: underline;
    }
}

.link-hidden {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }
}

.link-underline {
    border-bottom: 1px solid;
    text-decoration: none;

    @include hover-focus {
        text-decoration: none;
    }
}

.link-pseudo {
    border-bottom: 1px dashed;
}