// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),
$font-h1: (
    xs: (25px, 29.01px, $headings-font-weight, rem($spacer-6)),
    md: ($font-size-h1, $line-height-h1, '', rem($spacer-6)),
) !default;

$font-h2: (
    xs: ($font-size-h4, $line-height-h4, $headings-font-weight, rem($spacer-7)),
    md: ($font-size-h2, $line-height-h2, '', rem(46px)),
) !default;

$font-h3: (
    xs: ($font-size-h4, 28.01px, '', rem(30px)),
    md: ($font-size-h3, $line-height-h3, '', rem(22px)),
) !default;

$font-h4: (
    xs: ($font-size-h4, $line-height-h4, '', rem($spacer-3)),
) !default;

$font-h5: (
    xs: ($font-size-h5, $line-height-h5, '', rem($spacer)),
) !default;

$font-h6: (
    xs: ($font-size-h6, $line-height-h6, '', rem($spacer-2)),
) !default;

$font-lg: (
    xs: ($font-size-lg, $line-height-lg),
) !default;

$font-md: (
    xs: ($font-size-md, $line-height-md),
) !default;

$font-sm: (
    xs: ($font-size-sm, $line-height-md),
) !default;

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: $font-weight-medium;
}
h1, .h1 {
    @include type-responsive($font-h1);
    letter-spacing: -0.015em;
    font-family: $headings-font-family;
}
h2, .h2 {
    @include type-responsive($font-h2);
    font-family: $headings-font-family;
}
h3, .h3 {
    @include type-responsive($font-h3);
}
h4, .h4 {
    @include type-responsive($font-h4);
}
h5, .h5 {
    @include type-responsive($font-h5);
}
h6, .h6 {
    @include type-responsive($font-h6);
}
.text-lg {
    @include type-responsive($font-lg);
}
.text-md {
    @include type-responsive($font-md);
}
.text-sm {
    @include type-responsive($font-sm);
}

p,
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    @include margin-bottom(.75em);
}

address {
    font-style: normal;
    line-height: inherit;
}

dd {
    margin: 0;
}

.dl-inline {
    dd,
    dt {
        display: inline;
        vertical-align: baseline;
    }

    dt {
        &:before {
            content: '\A';
            white-space: pre-line;
            display: block;
            font-size: 0;
        }

        &:first-of-type:before {
            content: '';
        }
    }
}

ol li > ol,
ul li > ul,
ol li > ul,
ul li > ol {
    margin-bottom: 0;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-nowrap {
    white-space: nowrap;
}
@each $color-name, $color in $colors {
    .text-#{$color-name} {
        color: #{$color} !important;
    }
}