// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

@function getValue($map, $value, $fallback: null) {
    @if map-has-key($map, $value) {
        @return map-get($map, $value);
    } @else {
        @return $fallback;
    }
}

@mixin setProperty($property, $map, $value: $property) {
    @if map-has-key($map, $value) {
        #{$property}: getValue($map, $value);
    }
}

// colors
//
// grayscale and brand colors
$black:     #000000 !default;

$brown-100: #7e6c65 !default;
$brown-200: #54443e !default;
$brown-300: #3f251a !default;

$blue:      #0025a9 !default;

$gray-100:  #f7f9fa !default;
$gray-110:  #f8f9fe !default;
$gray-111:  #f9f9fb !default;
$gray-120:  #f5f5f6 !default;
$gray-130:  #f6f6f6 !default;
$gray-140:  #f0f1f3 !default;
$gray-200:  #efefef !default;
$gray-205:  #e3e0dc !default;
$gray-210:  #e7e6eb !default;
$gray-220:  #e8e9eb !default;
$gray-230:  #e8eae9 !default;
$gray-235:  #eae9e7 !default;
$gray-240:  #eaeaea !default;
$gray-250:  #e0e0e1 !default;
$gray-300:  #dedede !default;
$gray-400:  #cbcbcb !default;
$gray-420:  #c2bcbc !default;
$gray-450:  #b4b4b4 !default;
$gray-500:  #999999 !default;
$gray-600:  #757575 !default;
$gray-700:  #808185 !default;
$gray-800:  #555555 !default;

$green-100: #4fc0a9 !default;
$green-200: #4fc071 !default;
$green-300: #71888b !default;
$green-400: #64777d !default;
$green-500: #62757b !default;
$green-600: #53bca2 !default;

$orange:    #ea8e2c !default;

$purple:    #576dc2 !default;

$red-100:   #d9232e !default;
$red-200:   #b62f1b !default;
$red-300:   #d41616 !default;

$yellow:    #f4b63c !default;

$white:      #ffffff !default;

$base-color: $black !default;
$error:      $red-200 !default;
$muted:      $gray-700 !default;
$primary:    $brown-200 !default;


$colors: () !default;
$bg-colors: () !default;

$colors: map-merge(
    (
        "base":      $base-color,
        "primary":   $primary,
        "error":     $error,
        "muted":     $muted,
    ),
    $colors
);

$bg-colors: map-merge(
    (
        "lightest": (
            "bg": $gray-100,
        ),
        "lighter": (
            "bg": $gray-110,
        ),
        "red": (
            "bg": $red-200,
        ),
    ),
    $bg-colors
);

$enable-gradients: true;


// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-widths: (
  xs: 100%
) !default;
@include _assert-ascending($container-widths, "$container-widths");

$container-max-widths: (
    xl: 1440px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// grid columns
//
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$gutter: 24px !default;
$gutter-lg: 30px !default;

$grid-gutters: (
  xs: $gutter,
) !default;
@include _assert-ascending($grid-gutters, "$grid-gutters");

$container-gutters: (
  xs: 20px,
  xl: $gutter-lg,
) !default;
@include _assert-ascending($container-gutters, "$container-gutters");

$spacer:    4px;
$spacer-2:  $spacer * 2;  // 8px
$spacer-3:  $spacer * 3;  // 12px
$spacer-4:  $spacer * 4;  // 16px
$spacer-5:  $spacer * 5;  // 20px
$spacer-6:  $spacer * 6;  // 24px
$spacer-7:  $spacer * 7;  // 28px
$spacer-8:  $spacer * 8;  // 32px
$spacer-9:  $spacer * 9;  // 36px
$spacer-10: $spacer * 10; // 40px


// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($primary, 10%) !default;
$link-hover-decoration: inherit !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'ALS Hauss', Arial, sans-serif !default;
$font-family-title: 'Navigo', 'ALS Hauss', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-thin:     100 !default;
$font-weight-light:    300 !default;
$font-weight-normal:   400 !default;
$font-weight-medium:   500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold:     700 !default;
$font-weight-heavy:    800 !default;
$font-weight-black:    900 !default;

$font-size-html:       16px !default;

$font-size-base:       16px !default;
$font-size-lg:         18px !default;
$font-size-md:         14px !default;
$font-size-sm:         12px !default;

$line-height-base:     26.01px !default;
$line-height-base-2:   22.01px !default;
$line-height-lg:       24.01px !default;
$line-height-md:       20.01px !default;

$font-size-h1:         41px !default;
$font-size-h2:         32px !default;
$font-size-h3:         23px !default;
$font-size-h4:         21px !default;
$font-size-h5:         20px !default;
$font-size-h6:         18px !default;

$line-height-h1:       48.01px !default;
$line-height-h2:       45.01px !default;
$line-height-h3:       32.01px !default;
$line-height-h4:       30.01px !default;
$line-height-h5:       27.01px !default;
$line-height-h6:       24.01px !default;

$theme-fonts: () !default;
$theme-fonts: map-merge(
  (
  "base": ( $font-size-base, $line-height-base ),
  "lg":   ( $font-size-lg,   $line-height-lg ),
  "md":   ( $font-size-md,   $line-height-md ),
  ),
  $theme-fonts
);

// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),


$font-base: (
    xs: ($font-size-base, $line-height-base)
) !default;

$headings-font-weight: $font-weight-bold !default;
$headings-font-family: $font-family-title !default;

$small-font-size: 80% !default;

$text-muted: rgba($base-color, .5) !default;

// Border radius
//
//
$border-radius: .25rem !default;
$border-radius-sm: .5rem !default;
$border-radius-md: .75rem !default;
$border-radius-lg: 1rem !default;
$border-radius-xl: 6.25rem !default; //100px

// Buttons
//
//
$btn-font-family:   $font-family-base !default;
$btn-font-weight:   $font-weight-medium !default;
$btn-font-size:     $font-size-base !default;
$btn-line-height:   $line-height-base !default;
$btn-border-width:  0 !default;
$btn-padding-x:     35px !default;
$btn-padding-y:     13px !default;
$btn-height:        54px !default;
$btn-border-radius: 10px !default;

$btn-sizes: () !default;
$btn-themes: () !default;

$btn-sizes: map-merge(
    (
        "sm": (
            "height": 44px,
            "padding-x": $spacer-5,
        ),
        "md": (
            "height": 50px,
        ),
        "lg": (
            "height": 62px,
        ),
    ),
    $btn-sizes
);

$btn-themes: map-merge(
    (
        "primary": (
            "color": $white,
            "bg": $primary,
            "bg-hover": darken($primary, 10%),
        ),
        "outline-primary": (
            "color": $primary,
            "color-hover": $white,
            "bg": rgba($primary, 0),
            "bg-hover": $primary,
            "border": $primary,
        ),
    ),
    $btn-themes
);


// Form
//
//
$input-color-placeholder: $gray-700 !default;

$input-height:            62px !default;
$input-font-size:         $font-size-base !default;
$input-font-weight:       $font-weight-normal !default;
$input-font-family:       $font-family-base !default;
$input-line-height:       $line-height-base !default;

$input-color:             $base-color !default;
$input-bg:                $white !default;
$input-border-color:      $input-bg !default;
$input-border-width:      1px !default;
$input-border-radius:     $btn-border-radius !default;

$input-padding-x:         $spacer-8 !default;
$input-padding-y:         17px !default;
$input-icon-offset:       54px !default;

$input-bg-focus:          $input-bg !default;
$input-border-focus:      $input-border-color !default;
$input-color-focus:       $input-color !default;

$input-disabled-color:    $input-color-placeholder !default;
$input-disabled-bg-color: $input-bg !default;
$input-disabled-border-color: $input-border-color !default;

$form-group-margin-bottom: $spacer-3 !default;

$cursor-disabled: not-allowed !default;

// Checkbox/Radio
//
//
$form-check-input-width:                  $spacer-5 !default;
$form-check-min-height:                   $form-check-input-width !default;
$form-check-margin-right:                 $spacer-3 !default;
$form-check-padding-start:                $form-check-input-width + $form-check-margin-right !default;
$form-check-margin-bottom:                $form-group-margin-bottom !default;
$form-check-label-font-size:              $font-size-md !default;
$form-check-label-line-height:            $line-height-base !default;
$form-check-label-color:                  $input-color !default;
$form-check-label-cursor:                 null !default;
$form-check-transition:                   null !default;

$form-check-input-active-filter:          brightness(90%) !default;

$form-check-input-bg:                     $input-bg !default;
$form-check-input-border:                 $input-border-width !default;
$form-check-input-border-color:           $form-check-input-bg !default;
$form-check-input-border-radius:          $border-radius !default;
$form-check-input-bg-size:                $spacer-3 auto !default;
$form-check-radio-border-radius:          50% !default;
$form-check-radio-bg-size:                $spacer-2 auto !default;

$form-check-input-checked-bg:             $primary !default;
$form-check-input-checked-border-color:   $primary !default;
$form-check-input-checked-color:          $white !default;

$form-check-input-width-md:               18px !default;
$form-check-min-height-md:                $form-check-input-width-md !default;
$form-check-margin-right-md:              $spacer-2 !default;
$form-check-padding-start-md:             $form-check-input-width-md + $form-check-margin-right-md !default;
$form-check-label-font-size-md:           $font-size-md !default;
$form-check-label-line-height-md:         $line-height-md !default;
$form-check-radio-bg-size-md:             6px auto !default;

$form-check-input-checked-bg-image:       "<svg width='12' height='9' xmlns='http://www.w3.org/2000/svg'><path d='M11.758.576a.6.6 0 0 1 0 .848L4.424 8.758a.6.6 0 0 1-.848 0L.242 5.424a.6.6 0 0 1 .849-.848L4 7.485l6.91-6.91a.6.6 0 0 1 .848 0v.001Z' fill='#{$form-check-input-checked-color}' fill-rule='evenodd'/></svg>" !default;
$form-check-radio-checked-bg-image:       "<svg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='10' height='10' rx='5' fill='#{$form-check-input-checked-color}'/></svg>" !default;

$form-check-input-indeterminate-color:    $primary !default;

$form-check-input-disabled-opacity:       .5 !default;
$form-check-label-disabled-opacity:       .5 !default;
$form-check-btn-check-disabled-opacity:   .5 !default;

$form-check-inline-margin-end:            $gutter !default;


// Header
//
//
$header-height-mobile: 60px !default;
$header-height:        190px !default;
$header-z-index:       100 !default;


// Section
//
//
$section-offset:       $spacer-10 !default;
