<div class="footer">
  <div class="footer__container container">
    {% include '../partials/_contact-list.twig' with { prefix: 'footer' } %}

    <div class="footer__menu">
      <div class="footer__row row">
        {% for section in footerMenu %}
          <div class="footer__menu-section col-xs-12 col-sm-6 col-md-4 col-xl-3">
            <h5 class="footer__menu-title">
              <a href="#" class="link-inherit">{{ section.title }}</a>
            </h5>
            <ul class="footer__menu-list text-md">
              {% for item in section.list %}
                <li class="footer__menu-item">
                  <a href="#" class="link-inherit">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="footer__bottom">
      <a href="#" class="footer__createdby link-inherit">
        <img src="./assets/img/logo-green-promo.svg" alt="" class="footer__createdby-logo">
        разработка сайта и реклама
      </a>
    </div>
  </div>
</div>