<div class="header" data-component="header">
  <div class="header__top bg-gradient-main">
    <div class="container">
      <div class="header__top-row row align-xs-center">
        <div class="header__col--welcome col">
          Мы открылись! Ждем в гости!
        </div>

        <div class="header__col--icons-menu col">
          {% include 'header/_icons-menu.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="header__main">
    <div class="container">
      <div class="header__main-row row align-xs-center">
        <div class="header__col header__col--logo col">
          <a href="./index.html" class="header__logo">
            <img src="./assets/img/logo-simpla-dental.svg" alt="{{ company.name }} logo" class="header__logo-img">
            <img src="./assets/img/logo-simpla-dental-low.svg" alt="{{ company.name }} logo" class="header__logo-imglow">
          </a>
        </div>

        <button type="button" class="header__close-subnav">
          <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.27711 1.11907C8.66763 1.50959 8.66763 2.14275 8.27711 2.53328L3.9139 6.89648H18.5C19.0523 6.89648 19.5 7.3442 19.5 7.89648C19.5 8.44877 19.0523 8.89648 18.5 8.89648H3.91453L8.27711 13.2591C8.66763 13.6496 8.66763 14.2828 8.27711 14.6733C7.88658 15.0638 7.25342 15.0638 6.86289 14.6733L0.792893 8.60328C0.605357 8.41574 0.5 8.16139 0.5 7.89617C0.5 7.63096 0.605357 7.3766 0.792893 7.18907L6.86289 1.11907C7.25342 0.728541 7.88658 0.728541 8.27711 1.11907Z" fill="#292D32"/>
          </svg>
        </button>

        <div class="header__col header__col--tel col hidden-xl-up">
          <a href="tel:+74951000003" class="header__phone-link icon-phone" title=""></a>
        </div>

        <div class="header__col header__col--btn-mob col hidden-xl-up">
          <a href="#" class="header__button-mobile button button--cta">записаться</a>
        </div>

        <div class="header__col header__col--content col header__mobile-menu" data-component="mobile-menu" data-src="nav">
          {% include '../partials/_contact-list.twig' with { prefix: 'header' } %}

          {% include 'header/_nav.twig' with { menuClass: 'header__nav' } %}
        </div>

        <div class="header__col header__col--toggle col hidden-xl-up">
          <button class="header__nav-toggle hamburger hamburger--spin" type="button" data-element="mobile-menu-trigger" data-src="nav">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  {% include 'header/_mobile-submenu.twig' %}

  {% include 'header/_mobile-menu.twig' %}
</div>