{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Поезные статьи' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Полезная информация</a></li>
        <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="page-header__title hidden-md-down">{{ pageTitle }}</h1>

      <div class="page-header__filter filter row align-xs-center">
        <div class="filter__label col">Фильтр</div>
        <div class="filter__item col">
          <select class="select-dropdown" data-element="select">
            <option selected>все категории</option>
            <option>Виниры</option>
            <option>Протезирование</option>
            <option>Имплантация</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="section articles bg-lightest">
    <div class="container">
      <div class="section__body articles__body">
        <ul class="articles__list row">
          {% for item in articles %}
          <li class="articles__item col-xs-12 col-sm-6 col-lg-4">
            {% include 'partials/_article-card.twig' %}
          </li>
        {% endfor %}
        </ul>

        <div class="section__footer">
          <a href="#" class="section__footer-button button button--link">
            <span class="button__text">Показать еще</span>
            <i class="button__icon icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include 'sections/_callback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
