{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Гарантии на лечение' %}
{% set articleSet = [articles[3], articles[4], articles[5]] %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="articles.html" class="breadcrumb__link">Полезные статьи</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cover">
    <div class="cover__container container">
      <div class="cover__slide cover__slide--article">
        <div class="cover__content">
          <h1 class="cover__title">{{ article.title }}</h1>
          <div class="cover__description">
            {% for paragraph in article.desc %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          <img srcset="./assets/img/temp/cover/article-01.png 1x, ./assets/img/temp/cover/article-01@2x.png 2x" src="./assets/img/temp/cover/article-01.png" alt="" class="cover__article-bg-img">
        </div>
      </div>
    </div>
  </div>

  <div class="section article">
    <div class="container">
      {% for block in article.content %}
        {% if block.important %}
          <div class="article__important">
            <div class="article__important-inner">
              {% for paragraph in block.important %}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if block.warranty %}
          <div class="article__warranty">
            <ul class="article__warranty-categories">
              {% for category in block.warranty %}
                <li class="article__warranty-category">
                  <h2 class="article__warranty-title">
                    <span class="article__warranty-title-base">{{ category.title }}</span>
                    {% if category.titlePostfix %}
                      <span class="article__warranty-title-postfix">{{ category.titlePostfix }}</span>
                    {% endif %}
                  </h2>
                  <dl class="article__warranty-list text-lg">
                    {% for list in category.list %}
                      <div class="article__warranty-item">
                        <dt class="article__warranty-term">{{ list.term }}</dt>
                        <dd class="article__warranty-desc">{{ list.desc }}</dd>
                      </div>
                    {% endfor %}
                  </dl>
                  {% if category.notes %}
                    <div class="article__notes text-md">
                      {% for note in category.notes %}
                        <p>{{ note }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if block.exception %}
          <div class="article__exception">
            <ul class="article__exception-categories">
              {% for category in block.exception.categories %}
                <li class="article__exception-category">
                  <h2 class="article__exception-title">{{ category.title }}</h2>
                  <ul class="article__exception-list row">
                    {% for item in category.list %}
                      <li class="article__exception-item col-xs-12 col-md-6 col-xl-4">
                        <div class="article__exception-item-inner">
                          <i class="article__exception-item-icon icon-info"></i>
                          <p>{{ item }}</p>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>

            {% if block.exception.notes %}
              <div class="article__exception-notes">
                <i class="article__exception-notes-icon icon-info"></i>
                {% for note in block.exception.notes %}
                  <p>{{ note }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="section articles bg-lightest">
    <div class="container">
      <div class="section__body articles__body">
        <h2 class="section__title articles__title">Читайте также</h2>
        <ul class="articles__list row">
          {% for item in articleSet %}
          <li class="articles__item col-xs-12 col-sm-6 col-lg-4">
            {% include 'partials/_article-card.twig' %}
          </li>
        {% endfor %}
        </ul>

        <div class="section__footer">
          <a href="articles.html" class="section__footer-button button button--link">
            <span class="button__text">Все статьи</span>
            <i class="button__icon icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
