{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Контакты' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cover">
    <div class="cover__container container">
      <div class="cover__slide cover__slide--light">
        <img srcset="./assets/img/temp/cover/2-mobile.png 1x, ./assets/img/temp/cover/2-mobile@2x.png 2x" src="./assets/img/temp/cover/2-mobile.png" alt="" class="cover__bg-img hidden-md-up">
        <img srcset="./assets/img/temp/cover/2.png 1x, ./assets/img/temp/cover/2@2x.png 2x" src="./assets/img/temp/cover/2.png" alt="" class="cover__bg-img hidden-sm-down">
        <div class="cover__content">
          <h1 class="cover__title">SimplaDental <span class="text-nowrap"><i class="cover__title-icon icon-map-pin"></i>на проспекте Мира</span></h1>
          <div class="cover__description">
            <p>Коллектив зубных врачей SimplaDental - это большая сплоченная команда профессионалов высшей категории</p>
          </div>
          <a href="#" class="cover__button button button--cta">Перезвоните мне</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section article">
    <div class="container">
      <div class="article__important">
        <div class="article__important-inner">
          <p>Обратите внимание! Для сохранения гарантии необходимо следовать всем указаниям лечащего доктора. При неудовлетворительной гигиене полости рта, неаккуратном обращении с конструкциями или других нарушениях рекомендаций врачей, гарантийные сроки могут уменьшиться на 70%.  </p>
        </div>
      </div>
    </div>
  </div>

  {% include 'sections/_map.twig' with { description: false } %}
  <div class="section">
    <div class="container is-collapsed" data-component="collapsible">
        <div class="text-block" data-columns="2">
          <p><strong>SEO текст  761 символов  94 слова</strong> Специалисты Smile-at-Once имеют высокую квалификацию, прошли обучение в России и за рубежом, имеют многочисленные сертификаты по современным методам восстановления зубов, в том числе по имплантации и протезированию зубов с моментальной нагрузкой (immediate load), являются членами Российской ассоциациasdи стоматологической имплантологии (РАСтИ).</p>
          <p>Наши врачи регулярно принимают участие в семинарах и конференциях по современным методам стоматологического лечения как самостоятельно, так и в качестве участников деятельности Открытого Сообщества Стоматологов. В том числе проводят лекции и семинары по одноэтапной имплантации зубов с моментальной нагрузкой с целью обучения специалистов из разных городов на основе своего успешного практического и теоретического опыта.</p>
          <p><a class="text-block__opener" data-element="collapsible-toggle">Показать еще <i class="review-card__toggle icon-chevron-down"></i></a></p>
        </div>
        <div class="text-block text-block__collapsed" data-element="collapsible-content">
          <p>Диноза́вры (лат. Dinosauria) — группа архозавров из клады авеметатарзалий. Динозавры возникли в триасовом периоде, между 243 млн и 233,23 млн лет назад, и стали доминирующими наземными позвоночными после триасово-юрского вымирания 201 млн лет назад; их доминирование продолжалось на протяжении остальной части мезозойской эры, в течение юрского и мелового периодов. Хотя традиционно динозавры рассматривались как полностью вымершая группа в ранге надотряда, большинство современных специалистов придерживается принципов кладистической классификации, в соответствии с которыми птицы являются ныне живущими оперёнными динозаврами из клады теропод, возникшими во время верхнеюрской эпохи, либо в меловом периоде (в зависимости от определения таксона[a]), и, в отличие от всех остальных динозавров, пережившими мел-палеогеновое вымирание 66 млн лет назад. Условно всех динозавров, за исключением птиц, называют нептичьими динозаврами.</p>
        </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1?apikey=c917a50b-c3dd-45b7-9205-6e67645e72bc&lang=ru_RU"></script>


  <script>
  function init() {
      // Объявляем набор опорных точек и массив индексов транзитных точек.
      var referencepoints = [
          "Москва, монорельс Улица Сергея Эйзенштейна", "Москва, Проспект Мира, 188"
      ];

      // Создаем мультимаршрут и настраиваем его внешний вид с помощью опций.
      var multiRoute = new ymaps.multiRouter.MultiRoute({
          referencePoints: referencepoints
      }, {
        // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
        boundsAutoApply: true
      });

      // Создаем карту с добавленной на нее кнопкой.
      var myMap = new ymaps.Map('map', {
          center: [55.83125119778096,37.652273017343646],
          zoom: 14,
          controls: []
      }, {
          buttonMaxWidth: 300
      }, {
        mapStateAutoApply: true
      });

      // Добавляем мультимаршрут на карту.
      myMap.geoObjects.add(multiRoute);

      $('[data-map-select]').on('select2:select', function (e) {
          var value = e.params.data.id;
          var rt = e.params.data.title;
          //var data = e.params.data;
          var label = e.params.data.element.label
          rt = rt.split(';');

          if (value == "pedestrian") {
            document.querySelector('[data-metro="pedestrian"]').classList.add(activeClass);
          } else {
            document.querySelector('[data-metro="pedestrian"]').classList.remove(activeClass);
          };

          
          console.log(label);

          multiRoute.model.setParams({routingMode: value}, true);
          multiRoute.model.setReferencePoints(rt, []);

          document.querySelector('.' + activeClass +'[data-element="map-route-text"]').classList.remove(activeClass);
          document.querySelector('[id="' + label + '"][data-element="map-route-text"]').classList.add(activeClass);
      });
  }

  ymaps.ready(init);

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  <script>
    const qrCode = document.querySelector('[data-element="qr-code"]');
    const qr = new QRCode(qrCode);
    const qrText = 'SimplaDental';
    qr.makeCode(qrText);
  </script>
{% endblock %}