{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Макаренко Алина Александровна' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="doctors.html" class="breadcrumb__link">Врачи</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cover cover--doctor">
    <div class="cover__container container">
      <div class="cover__slide">
        <img srcset="./assets/img/temp/cover/doctor-mobile.png 1x, ./assets/img/temp/cover/doctor-mobile@2x.png 2x" src="./assets/img/temp/cover/doctor-mobile.png" alt="" class="cover__bg-img hidden-md-up">
        <img srcset="./assets/img/temp/cover/doctor.png 1x, ./assets/img/temp/cover/doctor@2x.png 2x" src="./assets/img/temp/cover/doctor.png" alt="" class="cover__bg-img hidden-sm-down">
        <div class="cover__content">
          <h1 class="cover__title">Макаренко <br>Алина Александровна</h1>
          <div class="cover__description">
            <p>
              Хирург-имплантолог, ортопед <br>
              Опыт работы 13 лет
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'sections/_doctor-info.twig' %}

  {% include 'sections/_doctor-certificates.twig' %}

  {% include 'sections/_examples.twig' with { title: 'Примеры работ' } %}

  {% include 'sections/_video-reviews.twig' with { title: 'Отзывы пациентов', items: 6, col: 'col-lg-4', bg: true } %}

  {% include 'sections/_callback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
