{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Врачи' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="page-header__title hidden-md-down">Врачи-стоматологи Москвы клиники SimplaDental</h1>

      <div class="page-header__filter filter row align-xs-center">
        <div class="filter__label col">Фильтр</div>
        <div class="filter__item col">
          <select class="select-dropdown" data-element="select">
            <option selected>все врачи</option>
            <option>Терапевты</option>
            <option>Хирурги</option>
            <option>Ортодонты</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="section staff bg-lightest">
    <div class="container">
      <div class="section__body staff__body">
        <div class="staff__items">
          <div class="staff__list row">
            {% for item in staff %}
              <div class="staff__item col-xs-12 col-md-6 col-lg-4">
                {% include 'partials/_staff-card.twig' %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'sections/_callback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}