{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}
  <div class="cover">
    <div class="cover__container container">
      <div class="cover__slider swiper" data-slider="cover">
        <div class="swiper-wrapper">
          {% for i in 1..3 %}
            <div class="cover__slide swiper-slide">
              <img srcset="./assets/img/temp/cover/1-mobile.png 1x, ./assets/img/temp/cover/1-mobile@2x.png 2x" src="./assets/img/temp/cover/1-mobile.png" alt="" class="cover__bg-img hidden-md-up">
              <img srcset="./assets/img/temp/cover/1.png 1x, ./assets/img/temp/cover/1@2x.png 2x" src="./assets/img/temp/cover/1.png" alt="" class="cover__bg-img hidden-sm-down">
              <div class="cover__content">
                <div class="cover__label">мы открылись!</div>
                <h1 class="cover__title">Многопрофильный Стоматологический Центр <span class="text-nowrap"><i class="cover__title-icon icon-map-pin"></i>на проспекте Мира</span></h1>
                <a href="#" class="cover__button button button--primary button--md">Подробнее</a>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="cover__controls swiper-controls">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  {% include 'sections/_quick-menu.twig' with { list: quickMenu } %}

  {% include 'sections/_offers-slider.twig' %}

  {% include 'sections/_services.twig' %}

  {% include 'sections/_callback.twig' %}

  {% include 'sections/_staff-slider.twig' %}

  {% include 'sections/_intro.twig' %}

  {% include 'sections/_certificates.twig' %}

  {% include 'sections/_faq.twig' %}

  {% include 'sections/_map.twig' %}

  {% include 'sections/_payment-methods.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  <script>
  function init() {
      // Объявляем набор опорных точек и массив индексов транзитных точек.
      var referencePoints = [
          "Москва, Ленинский проспект",
          "Москва, Льва Толстого, 16",
          "Москва, Кремлевская набережная",
          "Москва, парк Сокольники"
      ],
      viaIndexes = [2];

      // Создаем мультимаршрут и настраиваем его внешний вид с помощью опций.
      var multiRoute = new ymaps.multiRouter.MultiRoute({
          referencePoints: referencePoints,
          params: {viaIndexes: viaIndexes}
      });

      // Создаем карту с добавленной на нее кнопкой.
      var myMap = new ymaps.Map('map', {
          center: [55.739625, 37.54120],
          zoom: 7,
          controls: []
      }, {
          buttonMaxWidth: 300
      });

      // Добавляем мультимаршрут на карту.
      myMap.geoObjects.add(multiRoute);

      $('[data-map-select]').on('select2:select', function (e) {
          var value = e.params.data.id;
          multiRoute.model.setParams({routingMode: value}, true);

          document.querySelector('.' + activeClass +'[data-element="map-route-text"]').classList.remove(activeClass);
          document.querySelector('[id="' + value + '"][data-element="map-route-text"]').classList.add(activeClass);
      });
  }

  ymaps.ready(init);

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  <script>
    const qrCode = document.querySelector('[data-element="qr-code"]');
    const qr = new QRCode(qrCode);
    const qrText = 'SimplaDental';
    qr.makeCode(qrText);
  </script>
{% endblock %}