{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Акции' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>

      <h1 class="page-header__title hidden-md-down">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="section offers">
    <div class="container">
      <div class="offers__list">
        {% for item in offers %}
          <div class="offers__item">
            {% include 'partials/_offer-card.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'sections/_callback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}