{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Отзывы' %}

{% block headerScripts %}
  <script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js" async=""></script>
  <script src="https://www.youtube.com/player_api"></script>
{% endblock %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  {% include 'sections/_reviews-form.twig' %}

  <div class="section reviews-filter">
    <div class="container">
      <div class="reviews-filter__filter filter row align-xs-center">
        <div class="filter__label col">Фильтр</div>
        <div class="filter__item col">
          <select class="select-dropdown" data-element="select">
            <option selected>все категории</option>
            <option>Категория 1</option>
            <option>Категория 2</option>
            <option>Категория 3</option>
          </select>
        </div>
        <div class="filter__item col">
          <select class="select-dropdown" data-element="select">
            <option selected>все врачи</option>
            <option>Терапевты</option>
            <option>Хирурги</option>
            <option>Ортодонты</option>
          </select>
        </div>
        <div class="filter__item col">
          <select class="select-dropdown" data-element="select">
            <option selected>все отзывы</option>
            <option>Видео</option>
            <option>Рукописные</option>
            <option>Независимые</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  {% include 'sections/_video-reviews.twig' with { title: 'Видео отзывы', items: 18, col: 'col-lg-3 col-xl-2', itemSize: 'sm' } %}

  {% include 'sections/_video-reviews.twig' with { title: 'Отзывы пациентов', items: 6, col: 'col-lg-4', bg: true } %}

  {% include 'sections/_reviews.twig' with { title: 'Рукописные отзывы', list: reviews.written, reviewType: 'written', col: 'col-lg-6' } %}

  {% include 'sections/_reviews.twig' with { title: 'Независимые источники', list: reviews.external, reviewType: 'external', col: 'col-lg-4' } %}

  {% include 'sections/_ratingbar.twig' %}

  {% include 'sections/_reviews.twig' with { title: 'Отзывы с сайта', list: reviews.site, reviewType: 'site', col: 'col-lg-6' } %}

  {% include 'sections/_callback.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}