{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}
{% set pageTitle = 'Имплантация зубов' %}
{% set articleSet = [articles[3], articles[4], articles[5]] %}
{% set offerSet = [offers[1]] %}

{% block content %}

  <div class="page-header">
    <div class="page-header__container container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list text-md">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="services.html" class="breadcrumb__link">Услуги</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cover">
    <div class="cover__container container">
      <div class="cover__slide cover__slide--article">
        <div class="cover__content">
          <h1 class="cover__title">Имплантация зубов</h1>
          <div class="cover__description">
            <p>Имплантация зубов — это метод восстановления утраченных зубов с помощью вживляемых титановых корней в челюсть с покрытием их специальными протезами.</p>
          </div>
          <img srcset="./assets/img/temp/cover/service-01.png 1x, ./assets/img/temp/cover/service-01@2x.png 2x" src="./assets/img/temp/cover/service-01.png" alt="" class="cover__article-bg-img">
        </div>
      </div>
    </div>
  </div>

  <div class="section offers">
    <div class="container">
      <div class="offers__list">
        {% for item in offerSet %}
          <div class="offers__item">
            {% include 'partials/_offer-card.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'sections/_quick-menu-lg.twig' with { list: quickServices, class: 'size-lg', gradient: 'lightgray' } %}

  {% include 'sections/_implants.twig' %}

  {% include 'sections/_callback.twig' %}

  {% include 'sections/_staff-slider.twig' %}

  {% include 'sections/_prices.twig' %}

  {% include 'sections/_examples.twig' with { title: 'До и после' } %}

  {% include 'sections/_video-reviews.twig' with { title: 'Отзывы пациентов', items: 6, col: 'col-lg-4', bg: true } %}
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
