.form-file {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__label {
        margin-right: rem($spacer-2);
    }

    &__note {
        display: flex;
        align-items: flex-start;
        margin-top: rem($spacer-3);
        margin-bottom: rem($spacer-2);

        &-icon {
            font-size: rem(15px);
            margin-right: rem(6px);
        }
    }

    @include media-breakpoint-up(sm) {
    }
}
