.form {
    &__group {
        position: relative;
        margin-bottom: rem($form-group-margin-bottom);

        &--textarea {
          height: calc(100% - 12px);
        }
    }

    &__field {
        position: relative;
        display: flex;

        .form__input {
            flex: 1;
        }

        .form__group--textarea & {
          height: 100%;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }
    }

    &__label {
        display: block;
        line-height: 1;
        margin-bottom: rem($spacer-2);

        .form__group.is-required &[for] {
            &:after {
                content: "*";
                color: $red-200;
            }
        }
    }

    &__submit {
    }

    &__errors-list {
        position: absolute;
        top: 100%;
        left: 0;
        color: $error;
        @include font($font-size-md, $font-size-md);

        &:empty {
            display: none;
        }
    }

    &__error {
        margin-top: rem($spacer);
    }

    &__dropzone {
        margin-top: rem(10px);
    }

    &__note {
        margin-top: rem($spacer-6);
    }

    &__rating {
        margin-bottom: rem(14px);
        padding-top: rem($spacer-9);

        &:before,
        &:after {
            position: absolute;
            top: 0;
            font-size: rem($spacer-7);
        }

        &:before {
            left: 0;
            color: $red-200;
        }

        &:after {
            right: 0;
            color: $green-600;
        }

        input[type="range"] {
            display: block;
            appearance: none;
            width: 100%;
            background: none;

            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                height: 18px;
                border-radius: 9px;
                background: $green-100; /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, $red-200 0%, $orange 46.67%, $green-100 100%); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, $red-200 0%, $orange 46.67%, $green-100 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }

            &:focus {
                outline: none;
            }

            &::-moz-range-track {
                border-radius: 9px;
                height: 18px;
                -moz-appearance: none;
                background: -moz-linear-gradient(90deg, $red-200 0%, $orange 46.67%, $green-100 100%);
                background: -webkit-gradient(90deg, $red-200 0%, $orange 46.67%, $green-100 100%);
                background: -webkit-linear-gradient(90deg, $red-200 0%, $orange 46.67%, $green-100 100%);
                background: -o-gradient(90deg, $red-200 0%, $orange 46.67%, $green-100 100%);
                background: -ms-linear-gradient(90deg, $red-200 0%, $orange 46.67%, $green-100 100%);
                background: linear-gradient(90deg, $red-200 0%, $orange 46.67%, $green-100 100%);
                background: -webkit-gradient(
                left bottom,
                right top,
                color-stop(0%, rgba(59, 173, 227, 1)),
                color-stop(25%, rgba(87, 111, 230, 1)),
                color-stop(51%, rgba(152, 68, 183, 1)),
                color-stop(100%, rgba(255, 53, 127, 1))
                );
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red-200 ', endColorstr='$green-100 ', GradientType=1 );
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 6px solid $white;
                background: rgba($white, 0);
                @include size(30px);
                @include rounded;
                position: relative;
                bottom: 6px;
                cursor: -webkit-grab;
                box-shadow: 0 4px 10px rgba($black, 0.15);

                -webkit-transition: border 1000ms ease;
                transition: border 1000ms ease;

                &:active {
                    cursor: -webkit-grabbing;
                }
            }

            &::-moz-range-thumb {
                -moz-appearance: none;
                border: 6px solid $white;
                background: rgba($white, 0);
                @include size(30px);
                @include rounded;
                position: relative;
                bottom: 6px;
                cursor: -moz-grab;
                -moz-transition: border 1000ms ease;
                transition: border 1000ms ease;
                box-shadow: 0 4px 10px rgba($black, 0.15);

                &:active {
                    cursor: -moz-grabbing;
                }
            }
        }

        &-label {
            color: $gray-600;
            margin-top: rem($spacer-4);
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(md) {
    }
}
