//
// Check/radio
//

.form-check {
    display: block;
    width: 100%;
    min-height: rem($form-check-min-height);
    padding-left: rem($form-check-padding-start);
    margin-bottom: rem($form-check-margin-bottom);

    &__input {
        float: left;
        margin-left: rem($form-check-padding-start * -1);
        @include size(rem($form-check-input-width));
        margin-top: rem($form-check-label-line-height - $form-check-input-width) * .5; // line-height minus check height
        vertical-align: top;
        background-color: $form-check-input-bg;
        background-repeat: no-repeat;
        background-position: center;
        border: $form-check-input-border solid $form-check-input-border-color;
        border-radius: $form-check-input-border-radius;
        appearance: none;
        color-adjust: exact; // Keep themed appearance for print
        @include transition($form-check-transition);

        &[type="radio"] {
            // stylelint-disable-next-line property-disallowed-list
            border-radius: $form-check-radio-border-radius;
        }

        &:active {
            filter: $form-check-input-active-filter;
        }

        &:focus {
            outline: 0;
        }

        &:checked {
            background-color: $form-check-input-checked-bg;
            border-color: $form-check-input-checked-border-color;

            &[type="checkbox"] {
                @include background-svg($form-check-input-checked-bg-image);
                background-size: $form-check-input-bg-size;
            }

            &[type="radio"] {
                @include background-svg($form-check-radio-checked-bg-image);
                background-size: $form-check-radio-bg-size;
            }
        }

        &[type="checkbox"]:indeterminate {
        }

        &:disabled {
            pointer-events: none;
            filter: none;
            opacity: $form-check-input-disabled-opacity;
        }

        // Use disabled attribute in addition of :disabled pseudo-class
        // See: https://github.com/twbs/bootstrap/issues/28247
        &[disabled],
        &:disabled {
            ~ .form-check-label {
                opacity: $form-check-label-disabled-opacity;
            }
        }
    }

    &__label {
        display: block;
        @include font($form-check-label-font-size, $form-check-label-line-height);
        color: $form-check-label-color;
        cursor: pointer;
    }

    &--md {
        min-height: rem($form-check-min-height-md);
        padding-left: rem($form-check-padding-start-md);

        &.is-active {
            .form-check__label {
                color: $primary;
            }
        }

    }

    &--md & {
        &__input {
            margin-left: rem($form-check-padding-start-md * -1);
            @include size(rem($form-check-input-width-md));
            margin-top: rem($form-check-label-line-height-md - $form-check-input-width-md) * .5;

            &:checked {
                &[type="radio"] {
                    background-size: $form-check-radio-bg-size-md;
                }
            }
        }

        &__label {
            @include font($form-check-label-font-size-md, $form-check-label-line-height-md);
        }
    }
}