.search-form {
    .form__group {
        margin-bottom: 0;
    }

    .form__input {
        background-color: $gray-100;
        border-width: 0;
        box-shadow: inset 0 1px 2px rgba($primary, 0.31);
    }

    .button {
        display: none;
    }
}