.articles {
    margin-bottom: rem($spacer-7);

    &__body {
        padding: rem($spacer-5) 0 rem($spacer-10);
    }

    &__title {
      margin-bottom: rem($spacer-6);

      text-align: center;
    }

    &__list {
        list-style-type: none;
        margin-bottom: rem(- $spacer-6);
        padding: 0;
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(80px);

        &__body {
            padding: rem($spacer-10);
        }
    }

    @include media-breakpoint-up(md) {
        &__title {
          margin-bottom: rem($spacer-10);
        }
    }
}
