.article {
  margin-bottom: rem($spacer-7);

  &__important {
    padding: rem($spacer-4);

    line-height: percentage(21 / 16);
    text-align: center;

    background-color: $gray-205;
    border-radius: rem(10px);

    &:not(:last-child) {
      margin-bottom: rem($spacer-4);
    }
  }

  &__important-inner {
    max-width: 1080px;
    margin: 0 auto;
  }

  &__warranty {
    margin-bottom: rem($spacer-7);

    &:last-child {
      margin-bottom: rem($spacer-4);
    }
  }

  &__warranty-categories {
    list-style: none;
    max-width: rem(1030px);
    margin: 0 auto;
    padding: 0;
  }

  &__warranty-category {
    &:not(:last-child) {
      margin-bottom: rem($spacer-7);
    }
  }

  &__warranty-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem($spacer-4);
  }

  &__warranty-title-base {
    flex: 1 1 100%;
    margin-right: rem($spacer-10);
  }

  &__warranty-title-postfix {
    flex-shrink: 0;
    width: max-content;
    max-width: rem(180px);

    text-align: right;
  }

  &__warranty-list {
    margin-left: rem(- $spacer-5);
    margin-right: rem(- $spacer-5);
    &:not(:last-child) {
      margin-bottom: rem($spacer-5);
    }
  }

  &__warranty-item {
    display: flex;
    justify-content: space-between;
    padding: rem($spacer-4);

    &:nth-child(2n) {
      background-color: $gray-100;
    }
  }

  &__warranty-term {
    flex: 0 1 rem(660px);
    margin-right: rem($spacer-10);
  }

  &__warranty-desc {
    flex-shrink: 0;
    width: max-content;
    max-width: rem(180px);

    text-align: right;
  }

  &__exception-categories {
    list-style: none;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: rem($spacer-7);
    }
  }

  &__exception-category {
    padding: rem($spacer-5) rem($spacer-2) rem($spacer-7);

    background-color: $gray-100;
    border-radius: rem($spacer-4);

    &:not(:last-child) {
      margin-bottom: rem($spacer-4);
    }
  }

  &__exception-title {
    max-width: rem(1240px);
    margin: 0 auto rem($spacer-7);

    text-align: center;
  }

  &__exception-list {
    list-style: none;
    max-width: rem(400px);
    margin: 0 auto;
    padding: 0;
  }

  &__exception-item {
    margin-bottom: rem($spacer-5);
  }

  &__exception-item-inner {
    display: flex;
    height: 100%;
    padding: rem($spacer-5);

    background-color: $white;
    border-radius: rem(10px);
  }

  &__exception-item-icon {
    flex-shrink: 0;
    margin-right: rem($spacer-3);

    color: $red-300;
  }

  &__exception-notes {
    max-width: rem(1080px);
    margin: 0 auto;

    line-height: percentage(21 / 16);
    text-align: center;
  }

  &__exception-notes-icon {
    margin-bottom: rem($spacer-7);
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: rem(56px);

    &__important {
      padding: rem($spacer-8);

      &:not(:last-child) {
        margin-bottom: rem($spacer-8);
      }
    }

    &__warranty {
      margin-bottom: rem(52px);

      &:last-child {
        margin-bottom: rem($spacer-10);
      }
    }

    &__warranty-category {
      &:not(:last-child) {
        margin-bottom: rem($spacer-10);
      }
    }

    &__exception-categories {
      &:not(:last-child) {
        margin-bottom: rem($spacer-10);
      }
    }

    &__exception-title {
      margin-bottom: rem($spacer-10);
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: rem(100px);

    &__important {
      padding: rem(55px);
    }

    &__warranty {
      margin-bottom: rem(140px);

      &:last-child {
        margin-bottom: rem(110px);
      }
    }

    &__warranty-category {
      &:not(:last-child) {
        margin-bottom: rem(80px);
      }
    }

    &__warranty-title {
      margin-bottom: rem($spacer-10);
      padding: rem($spacer-10);
      padding-right: 0;
    }

    &__warranty-list {
      margin-left: 0;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: rem($spacer-10);
      }
    }

    &__warranty-item {
      padding: rem($spacer-10);
    }

    &__exception-categories {
      &:not(:last-child) {
        margin-bottom: rem(72px);
      }
    }

    &__exception-category {
      padding: rem($spacer-10) rem($spacer-7) rem(80px);
      &:not(:last-child) {
        margin-bottom: rem(50px);
      }
    }

    &__exception-list {
      max-width: rem(820px);
    }

    &__exception-title {
      margin-bottom: rem(60px);
    }

    &__exception-item-inner {
      min-height: rem(144px);
    }
  }

  @include media-breakpoint-up(xl) {
    &__exception-list {
      max-width: rem(1240px);
    }

    &__exception-item {
      &:last-child:nth-child(3n + 1) {
        margin: 0 auto;
      }
    }

    &__exception-item-inner {
      min-height: rem(144px);
    }
  }
}
