.ask-doctor {
    margin-top: rem($spacer-6);
    margin-bottom: rem(51px);

    &__form {
        position: relative;
        overflow: hidden;
        background: linear-gradient(270.09deg, #E7E6EB 18.87%, #E8EAE9 86.9%);
        border-radius: $border-radius-lg;
        padding: rem(38px $spacer-3 60px);
        text-align: center;
        z-index: 1;
    }

    &__img {
      max-width: calc(100% + 110px);
        position: absolute;
        left: rem(-110px);
        bottom: 0;
        z-index: -1;
    }

    .form__input {
        background-color: rgba($input-bg, .8);
        border-color: rgba($input-border-color, .4);
    }

    .form__submit {
        margin-top: rem($spacer-3);
        margin-left: rem(115px);
        text-align: right;
    }

    .form__consent {
        text-align: left;
        display: block;
        margin-top: rem($spacer-6);
    }

    @include media-breakpoint-up(sm) {
      .form__consent {
          margin-left: rem(200px);
      }
    }

    @include media-breakpoint-up(md) {
        &__form {
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
        }

        &__img {
            max-width: 100%;
            left: 0;
        }

        &__title {
            max-width: 23em;
            margin-left: auto;
            margin-right: auto;
        }

        &__img {
            max-width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        .form__consent {
            margin-left: rem(350px);
        }

        .form__submit {
            text-align: left;
            margin-left: rem(350px);
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(46px);
        margin-bottom: rem(60px);

        &__form {
            text-align: left;
            padding: rem($spacer-10);
            padding-left: rem(350px);
        }

        &__content {
            max-width: rem(1008px);
        }

        &__title {
            max-width: 29em;
            margin-left: 0;
        }

        .form__submit {
            margin-top: 0;
            margin-left: 0;
        }

        .form__consent {
            max-width: none;
            margin-top: rem(26px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        &__form {
            padding: rem($spacer-10);
            padding-left: rem(350px);
        }
    }
}
