.benefits {
    margin-top: rem($spacer-10);
    margin-bottom: rem($spacer-8);

    .section__header {
        margin-bottom: rem(15px);
    }

    &__list {
        margin-bottom: rem(- $spacer-6);
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(56px);
        margin-bottom: rem($spacer-10);

        &__body {
            border-radius: $border-radius-lg;
            background-color: $gray-100;
            padding: rem(76px 52px 64px);
        }

        .section__header {
            margin-bottom: rem(80px);
        }
    }
}