.callback {
    margin-top: rem($spacer-6);
    margin-bottom: rem(51px);

    &__form {
        position: relative;
        overflow: hidden;
        background: linear-gradient(270.09deg, #E7E6EB 18.87%, #E8EAE9 86.9%);
        border-radius: $border-radius-lg;
        padding: rem(38px $spacer-3 29px);
        text-align: center;
        z-index: 1;
    }

    &__img {
        position: absolute;
        right: rem(-53px);
        bottom: rem(-16px);
        transform: scaleX(-1);
        z-index: -1;
    }

    .form__input {
        background-color: rgba($input-bg, .8);
        border-color: rgba($input-border-color, .4);
    }

    .form__submit {
        margin-top: rem($spacer-3);
    }

    .form__consent {
        text-align: left;
        display: block;
        max-width: 18em;
        margin-top: rem($spacer-6);
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(md) {
        &__form {
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
        }

        &__title {
            max-width: 23em;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(46px);
        margin-bottom: rem(60px);

        &__form {
            text-align: left;
            padding-bottom: rem($spacer-5);
        }

        &__content {
            max-width: rem(1008px);
        }

        &__title {
            max-width: 29em;
            margin-left: 0;
        }

        .form__submit {
            margin-top: 0;
        }

        .form__consent {
            max-width: none;
            margin-top: rem(26px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        &__form {
            padding-left: rem(301px);
        }

        &__img {
            left: rem(54px);
            right: auto;
            bottom: 0;
            transform: none;
        }

        .form__submit {
            margin-left: rem(22px);
        }
    }
}