.certificates {
    margin-top: rem(46px);
    margin-bottom: rem($spacer-9);

    .section__header {
        margin-bottom: rem($spacer-6);
    }

    &--preview {
        margin-top: rem(60px);
        margin-bottom: rem(50px);
    }

    &--auto {
        margin-top: rem($spacer-9);
        margin-bottom: rem(46px);
    }

    &--auto & {
        &__body {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-6);
        }

        &__slider {
            overflow: visible;
        }

        &__slide {
            width: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(72px);
        margin-bottom: rem(102px);

        .section__header {
            margin-bottom: rem(50px);
            padding-left: rem($gutter-lg);
        }

        .swiper-pagination {
            display: none;
        }

        &--auto {
            margin-top: rem(102px);
            margin-bottom: rem(46px);
        }

        &--auto & {
            &__body {
                padding: rem($spacer-10 $spacer-7 90px $spacer-7);
            }
        }

        &--preview {
            margin-top: rem(128px);
            margin-bottom: rem(128px);

            .section__header {
                padding-left: 0;
            }
        }
    }
}