.company-details {
    margin-top: rem($spacer-9);
    margin-bottom: rem($spacer-9);

    .section__header {
        margin-bottom: rem(60px);
        position: relative;
    }

    &__copy {
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateY(rem(60px));
        font-size: rem($spacer-6);
        color: $primary;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(102px);
        margin-bottom: rem(88px);

        &__copy {
            top: 50%;
            right: rem($spacer-8);
            transform: translateY(0);
        }
    }
}