.contract {
    margin-top: rem($spacer-8);
    margin-bottom: rem($spacer-10);

    &__card {
        background-color: $gray-120;
        border-radius: $border-radius-lg;

        &-content {
            padding: rem($spacer-9 $spacer-6 $spacer-3);
        }

        &-title {
            @include font(22px, 29.01px, $font-weight-normal);
            margin-bottom: rem(13px);
        }

        &-description {
            @include em-line-height($font-size-base, $line-height-base-2);
            margin-bottom: rem($spacer-4);
            max-width: 34em;
        }

        &-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-breakpoint-up(md) {
        &__card {
            display: flex;

            &-content {
                padding: rem($spacer-10 $spacer-10 30px);
                max-width: 58%;
            }

            &-title {
               font-weight: $font-weight-medium;
            }

            &-img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                align-self: flex-end;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem($spacer-10);
        margin-bottom: rem(64px);

        &__card {
            &-content {
                padding-left: rem(85px);
                padding-right: rem(85px);
            }

            &-img {
                max-height: rem(183px);
            }
        }
    }
}