.cover {
    margin-bottom: rem($spacer-8);

    &__slider {
        position: relative;
    }

    &__slide {
        display: flex;
        height: rem(490px);
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: $primary;
        text-align: center;

        &--light {
            .cover__description {
                color: $base-color;
            }
        }

        &--article {
          display: block;

          height: unset;
          background-color: $gray-111;

          .cover__description {
              color: $base-color;
          }
      }
    }

    &__bg-img {
        @extend %cover-image;
        z-index: -1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding-top: rem(64px);
        padding-bottom: rem(30px);
        margin-left: rem($gutter);
        margin-right: rem($gutter);
    }

    &__label {
        @include em-line-height($font-size-base, $line-height-base-2);
        margin-bottom: rem(-3px);
    }

    &__title {
        letter-spacing: -0.015em;

        &-icon {
            top: -.08em;
            margin-right: rem($spacer-2);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__description {
        display: none;
    }

    &__button {
        margin-top: auto;
    }

    @include media-breakpoint-down(md) {
        &__container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &--doctor {
            margin-bottom: rem($spacer-6);
        }

        &--doctor & {
            &__slide {
                display: block;
                height: auto;
                color: $base-color;
                text-align: left;
            }

            &__bg-img {
                display: block;
                position: static;
                min-width: 0;
                max-width: 100%;
                min-height: 0;
                transform: none;
            }

            &__content {
                display: block;
                padding-top: rem(22px);
                padding-bottom: 0;
            }

            &__description {
                display: block;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__slide {
            text-align: left;
            color: $white;

            &--light,
            &--article {
                .cover__title {
                    color: $primary;
                }
            }

            &--article {
                height: rem(490px);
            }
        }

        &__content {
            align-items: flex-start;
            max-width: rem(531px);
        }

        &__label {
            @include font($font-size-lg, $line-height-lg, $font-weight-medium);
            margin-bottom: rem(18px);
        }

        &__description {
            display: block;
            margin-top: rem($spacer-3);
            max-width: 26em;
        }

        &--doctor & {
            &__content {
                max-width: rem(513px);
                padding-top: rem(123px);
            }
        }

        &__article-bg-img {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: -1;

          height: 75%;
          width: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($spacer-7);

        .page-header + & {
            margin-top: rem(-26px);
        }

        &__slide {
            border-radius: rem(18px);
        }

        &__content {
            padding-top: rem(80px);
            padding-bottom: rem(92px);
        }

        &__controls {
            position: absolute;
            right: rem(88px);
            bottom: rem(42px);
            z-index: 10;
        }

        &__slide--article & {
            &__description {
                max-width: rem(480px);
            }
        }

        &__article-bg-img {
          height: 100%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            &.swiper-button-disabled {
                background-color: rgba($primary, .05);
            }
        }

        .swiper-pagination {
            display: none;
        }
    }

    @include media-breakpoint-up(xl) {
        &__slide {
            height: rem(534px);
        }

        &__content {
            margin-left: rem(94px);
            padding-left: 0;
            padding-right: 0;
        }

        &--doctor & {
            &__content {
                margin-left: rem(72px);
            }
        }

        &__slide--article & {
            &__description {
                max-width: rem(512px);
            }
        }
    }
}
