.documents-online {
  margin-top: rem($spacer-5);
  margin-bottom: rem($spacer-10);
  &__content {
    order: 2;
    max-width: rem(670px);
  }

  &__desc {
    max-width: 800px;
    margin-right: auto;
    margin-bottom: rem(60px);
  }

  &__title {
    max-width: rem(660px);
    margin-bottom: rem($spacer-8);
  }

  &__instructions {
    line-height: percentage(21 / 16);
    margin-bottom: rem($spacer-8);
  }

  &__hint {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: rem($spacer-6) rem($spacer-9);

    background-color: $gray-205;
    border-radius: 10px;
  }

  &__hint-icon {
    flex-shrink: 0;
    display: inline-block;
    margin-left: rem(20px);

    font-size: 24px;
    line-height: 1;

    background-color: $white;
    border-radius: 50%;
  }

  &__form-wrapper {
    max-width: rem(670px);
    margin-right: auto;
    padding: 0;
  }

  &__form-step {
    margin-bottom: rem($spacer-10);

    font-weight: 400;
  }

  &__fieldset {
    margin-bottom: rem(50px);
  }

  &__legend {
    margin-bottom: rem($spacer-7);
  }

  &__form-group {
    max-width: rem(400px);
    margin-bottom: rem($spacer-5);
  }

  &__input {
    height: unset;
    padding: rem($spacer) 0 rem($spacer-3);

    line-height: percentage(21 / 16);

    color: $gray-700;

    border: none;
    border-bottom: 1px solid $gray-700;
    border-radius: 0;
  }

  &__examples {
    max-width: rem(670px);
    margin-bottom: rem($spacer-8);
  }

  &__examples-inner {
    padding: rem(50px) rem($spacer-8);

    background-color: $gray-100;
    border-radius: rem(10px);
  }

  &__examples-title {
    margin-bottom: rem($spacer-6);
  }

  &__examples-list {
    padding: 0;
    list-style: none;
  }

  &__examples-item {
    &:not(:last-child) {
      margin-bottom: rem($spacer-5);
    }
  }

  &__examples-link {
    display: inline-flex;
    align-items: center;
    color: $black;
  }

  &__examples-icon {
    flex-shrink: 0;
    display: inline-block;
    margin-right: rem(20px);

    font-size: 24px;
    line-height: 1;
  }

  @include media-breakpoint-up(sm) {
    &__form-wrapper {
      padding: 0 rem($spacer-5);
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: rem(80px);

    &__form-wrapper {
      padding: 0 rem($spacer-10);
    }

    &__form-group {
      max-width: unset;
    }
  }

  @include media-breakpoint-up(lg) {
    &__content {
      max-width: unset;
      order: unset;
    }

    &__hint {
      display: flex;
    }

    &__examples {
      max-width: rem(440px);
      margin-left: auto;
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(xl) {
  }
}
