.documents {
    margin-top: rem($spacer-9);
    margin-bottom: rem(50px);

    .section__header {
        margin-bottom: rem(50px);
    }

    &__items {
        margin-left: rem($spacer-3);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(88px);
        margin-bottom: rem(112px);

        .section__header {
            margin-bottom: rem(91px);
        }

        &__items {
            margin-left: 0;
            display: grid;
            grid-template-columns: minmax(auto, rem(450px)) minmax(auto, rem(450px));
            justify-content: center;
            grid-column-gap: 9.5%;
        }
    }

    @include media-breakpoint-up(xl) {
        .files__item {
            margin-right: rem(- $spacer-5);
        }
    }
}