.doctor-info {
    margin-top: rem(0);
    margin-bottom: rem(0);

    &__nav {
        overflow: visible;
    }

    &__title {
        margin-bottom: rem(22px);
    }

    @include media-breakpoint-up(md) {
        &__list {
            columns: 2;
            column-gap: rem($spacer-10);
            column-fill: balance;

            li {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(0);
        margin-bottom: rem(0);

        &__title {
            margin-bottom: rem(46px);
        }

        &__list {
            columns: 3;
        }
    }
}