.examples {
    margin-top: rem(46px);
    margin-bottom: rem($spacer-10);

    @include media-breakpoint-down(md) {
        [class^="col-lg-"], [class*=" col-lg-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__items {
            margin-bottom: rem(- $spacer-6);
        }

        .swiper-wrapper {
            @include make-row();
            box-sizing: border-box;
            width: auto;
            height: auto;
        }

        &__item {
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}