.faq {
    margin-top: rem(50px);
    margin-bottom: rem(50px);

    &__container {
        max-width: rem(1206px);
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        @include margin-bottom(rem(10px));

        &-title {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: rem(25px $spacer-6 $spacer-4 $spacer-5);
            border-radius: (10px);
            margin-bottom: 0;
            font-weight: $font-weight-bold;
            min-height: rem(68px);
        }

        &-toggle {
            display: block;
            font-size: rem(26px);
            margin-top: rem(-5px);
            margin-left: rem($spacer-5);
            transition: transform .25s ease-in-out;
            transform: rotate(45deg);

            .is-collapsed & {
                transform: rotate(0);
            }
        }

        &-body {
            display: flex;
            align-items: flex-start;
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-5);
            margin-top: rem($spacer-9);
            margin-bottom: rem($spacer-10);
            color: $gray-800;

            .is-collapsed & {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &-avatar {
            display: none;
        }

        &-text {
            flex: 1;
            padding-top: rem(2px);
        }
    }

    &__widget {
        border: 1px solid $primary;
        border-radius: $border-radius-sm;
        padding: rem($spacer-7 $spacer-6 $spacer-6);
        margin-top: rem($spacer-7);
        margin-bottom: rem($spacer-10);

        &-title {
            margin-bottom: rem(10px);
        }
    }

    &__seo {
        margin-top: rem(38px);
        @include em-line-height($font-size-base, $line-height-base-2);
    }

    @include media-breakpoint-down(sm) {
        &__item {
            &-title {
                @include font($font-size-base, 21.01px);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
            &-avatar {
                display: block;
                @include size(rem(68px));
                flex: 0 0 rem(68px);
                @include rounded;
                margin-right: rem($spacer-6);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(128px);
        margin-bottom: rem(98px);

        .section__header {
            margin-bottom: rem(84px);
        }

        &__item {
            margin-bottom: rem(5px);

            &-title {
                padding: rem($spacer-8 104px $spacer-6 64px);
            }

            &-body {
                padding-left: rem(76px);
                padding-right: rem(150px);
            }
        }

        &__widget {
            padding: rem(46px 56px 56px);
            margin-top: rem(72px);
            margin-bottom: rem(88px);

            &-title {
                margin-bottom: rem($spacer-5);
            }
        }

        &__seo {
            margin-top: rem(88px);
        }
    }
}