.gallery {
    margin-top: rem($spacer-10);
    margin-bottom: rem($spacer-10);

    .section__header {
        text-align: center;
    }

    &__item {
        display: block;
        overflow: hidden;
        position: relative;
        @include aspect-ratio-block(337/225);
        border-radius: rem(5px);
    }

    &__img {
        @extend %cover-image;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(64px);
        margin-bottom: rem(72px);

        .section__header {
            text-align: left;
            margin-bottom: rem($spacer-9);
        }

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: rem($spacer-4);
            grid-row-gap: rem($spacer-4);
            justify-content: center; 
        }

        &__item {
            &:first-child {
                grid-row: 1/2;
                grid-column: 1/3;
            }

            &:nth-child(2) {
                grid-row: 1/2;
            }
        }

        .swiper-pagination {
            display: none;
        }
    }
}