.implants {
  &__body {
    padding-top: rem($spacer-5);
    padding-bottom: rem($spacer-7);
  }

  &__title {
    text-align: center;
  }

  &__table-wrapper {
    margin: 0 rem(- $spacer-5);
    padding: 0 rem($spacer-5);
    overflow-x: auto;
  }

  &__table {
    min-width: rem(920px);
  }

  &__table-header {
    margin: 0;
    margin-bottom: rem($spacer);
  }

  &__table-header-cell {
    padding: 0;

    &:not(:first-child) {
      padding-left: rem(2px);
    }

    &:not(:last-child) {
      padding-right: rem(2px);
    }
  }

  &__header-cell-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: rem($spacer-3) rem($spacer-8);

    background-color: $gray-140;
    border-radius: rem(10px) rem(10px) 0 0;
  }

  &__col-title {
    margin-right: auto;
  }

  &__table-row {
    overflow: hidden;
    margin: 0;

    border-radius: rem(10px);

    &:not(:last-child) {
      margin-bottom: rem($spacer-4);
    }
  }

  &__table-cell {
    padding: rem(20px);
    background-color: $white;
  }

  @include media-breakpoint-up(xl) {
    &__body {
      padding: rem($spacer-8);
      padding-bottom: rem(56px);
    }
  }

  &__table-wrapper {
    margin: 0 rem(-52px);
    padding: 0 rem(52px);
    overflow-x: auto;
  }
}
