.intro {
    text-align: center;
    margin-top: rem(60px);
    margin-bottom: rem(60px);

    &__content {
        margin-bottom: rem($spacer-8);
    }

    &__title {
        margin-bottom: rem($spacer-9);
    }

    &__description {
        margin-bottom: 0;
    }

    &__img {
        display: block;
        border-radius: rem(10px);
        margin-left: auto;
        margin-right: auto;
    }

    &__button {
        margin-top: rem(26px);
    }

    @include media-breakpoint-up(md) {
        text-align: left;

        &__content {
            margin-bottom: 0;
            max-width: rem(528px);
        }

        &__title {
            margin-bottom: rem($spacer-6);
        }

        &__description {
            min-height: 5.44em;
        }

        &__button {
            margin-top: rem($spacer-5);
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(100px);
        margin-bottom: rem(150px);

        &__content {
            padding-left: rem(47px);
        }
    }
}