.map {
    margin-top: rem(50px);
    margin-bottom: rem($spacer-8);

    .section__header {
        margin-bottom: rem($spacer-10);
    }

    &__route {
        margin-bottom: rem(46px);
    }

    &__placeholder {
        height: rem(291px);
        border-radius: rem(10px);
        overflow: hidden;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(98px);
        margin-bottom: rem(62px);

        .section__header {
            margin-bottom: rem(75px);
        }

        &__route {
            margin-bottom: 0;
            padding-top: rem($spacer-5);
        }

        &__placeholder {
            height: rem(395px);
        }

        &__code {
            border-radius: $border-radius-lg;
            display: flex;
            align-items: center;
            min-height: rem(251px);
            margin-top: rem(71px);

            &-content {
                padding: rem($spacer-10);
                width: 50%;
                flex: 0 0 50%;
            }

            &-text {
                max-width: 22em;
                margin-left: auto;
                margin-right: auto;
            }

            &-picture {
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
                position: relative;
            }

            &-img {
                display: block;
            }

            &-qr {
                @include size(rem(85px));
                position: absolute;
                left: 50%;
                bottom: rem($spacer-8);
                transform: translateX(-50%);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__route {
            padding-left: rem($spacer-10);
        }

        &__placeholder {
            margin-right: rem($spacer-8);
        }
    }
}