.offers {
    margin-bottom: rem(56px);

    &__item {
        @include margin-bottom(rem($spacer-8));
    }

    &--preview {
        margin-top: rem($spacer-9);
        margin-bottom: rem($spacer-7);

        .section__header {
            text-align: center;
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($spacer-10);

        &__item {
            margin-bottom: rem($spacer-5);
        }

        &--preview {
            margin-top: rem(52px);
            margin-bottom: rem(60px);

            .section__header {
                text-align: left;
                margin-bottom: rem($spacer-7);
            }
        }
    }
}