.page-header {
    margin-top: rem($spacer-3);
    margin-bottom: rem($spacer-4);

    &__title {
        margin-bottom: 0;
    }

    &__filter {
        margin-top: rem($spacer-7);
        margin-bottom: rem(-6px);
    }

    @include media-breakpoint-up(md) {
        margin-top: 0;

        &__container {
            padding-left: rem($spacer-9);
            padding-right: rem($spacer-9);

            &:before {
                display: block;
                border-top: 1px solid $gray-200;
                content: '';
                margin-left: rem(- $spacer-4);
                margin-right: rem(- $spacer-4);
                margin-bottom: rem(17px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($spacer-10);

        &__filter {
            margin-top: rem($spacer-6);
            margin-bottom: rem(- $spacer-5);
        }
    }

    @include media-breakpoint-up(xl) {
        &__container {
            padding-left: rem(46px);
            padding-right: rem(46px);
        }
    }
}