.payment-methods {
    text-align: center;
    margin-top: rem(35px);
    margin-bottom: rem(61px);

    &__label {
        letter-spacing: -0.015em;
        margin-bottom: rem($spacer-6);
    }

    &__list {
        @include list-unstyled;
        flex-wrap: nowrap;
    }

    &__img {
        display: block;
        max-height: rem(27px);
    }

    @include media-breakpoint-up(md) {
        &__list {
            display: inline-flex;
            width: 100%;
            max-width: rem(709px);
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(75px);
        margin-bottom: rem(65px);

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__label {
            margin-right: rem(35px);
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}