.pricelist {
  margin-top: rem(48px);
  margin-bottom: rem(94px);

  &__menu {
    display: none;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: rem(12px);
      bottom: 0;

      width: 1px;

      background-color: $gray-300;
    }
  }

  &__menu-list {
    list-style-type: none;

    overflow-y: auto;
    max-height: calc(100vh - 80px - 24px);
    padding: 0;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }

  &__prices-categories {
    list-style-type: none;

    max-width: rem(690px);
    padding: 0;
  }

  &__prices-category {
    &:not(:last-child) {
      margin-bottom: rem(36px);
    }
  }

  &__prices-category-title {
    margin-bottom: rem(20px);
    scroll-margin-top: rem($header-height);

    font-weight: 500;
  }

  &__prices-list {
    list-style-type: none;
    padding: 0;

    font-size: rem(16px);
    line-height: percentage(20 / 16);
  }

  &__prices-item {
    display: flex;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: rem(16px);
    }
  }

  &__service {
    position: relative;
    flex-grow: 1;

    margin: 0;
    margin-right: rem(15px);
    padding-right: rem(10px);

    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 8px;
      z-index: 1;

      border-bottom: 1px dashed $gray-700;
    }
  }

  &__service-inner {
    position: relative;
    z-index: 2;

    background-color: $white;

    &::after {
      content: "  ";
    }
  }

  &__offer-tag {
    display: inline-block;
    position: absolute;
    z-index: 3;

    transform: translateY(rem(-6px));

    font-size: rem(12px);
    line-height: percentage(16 / 12);
    color: $yellow;
  }

  &__price {
    flex-shrink: 0;
    del {
      color: $gray-700;
    }

    b {
      font-weight: 400;
      color: $yellow;
    }
  }

  @include media-breakpoint-up(md) {
    &__menu {
      display: block;
    }

    &__service {
      margin-right: rem(20px);
      padding-right: rem(20px);

      font-size: rem(18px);
      line-height: percentage(24 / 18);
    }

    &__offer-tag {
      transform: translateY(rem(-10px));

      font-size: rem(14px);
      line-height: percentage(20 / 14);
    }
  }

  @include media-breakpoint-up(lg) {
      margin-top: rem(90px);
      margin-bottom: rem(53px);

      &__menu-list {
        padding-right: rem(20px);
      }

      &__prices-categories {
        padding-left: rem(20px);
      }

      &__service {
        margin-right: rem(40px);
        padding-right: rem(40px);
      }
  }

  @include media-breakpoint-up(xl) {
    &__menu-list {
      max-height: calc(100vh - 190px- 24px);
      padding-right: rem(20px);
    }

    &__prices-categories {
      padding-left: rem(40px);
    }

    &__service {
      padding-right: rem(80px);
    }
  }
}
