.prices {
  margin-top: rem(40px);
  margin-bottom: rem(56px);

  &__title {
    margin-bottom: rem($spacer-8);
  }

  &__list {
    list-style-type: none;
    max-width: rem(690px);
    width: 100%;
    padding: 0;

    font-size: rem(16px);
    line-height: percentage(20 / 16);
  }

  &__item {
    display: flex;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: rem(16px);
    }
  }

  &__service {
    position: relative;
    flex-grow: 1;

    margin: 0;
    margin-right: rem(15px);
    padding-right: rem(10px);

    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 8px;
      z-index: 1;

      border-bottom: 1px dashed $gray-700;
    }
  }

  &__service-inner {
    position: relative;
    z-index: 2;

    background-color: $white;

    &::after {
      content: "  ";
    }
  }

  &__offer-tag {
    display: inline-block;
    position: absolute;
    z-index: 3;

    transform: translateY(rem(-6px));

    font-size: rem(12px);
    line-height: percentage(16 / 12);
    color: $yellow;
  }

  &__price {
    flex-shrink: 0;
    del {
      color: $gray-700;
    }

    b {
      font-weight: 400;
      color: $yellow;
    }
  }

  @include media-breakpoint-up(md) {
    &__title {
      margin-bottom: rem(56px);
    }

    &__service {
      margin-right: rem(20px);
      padding-right: rem(20px);

      font-size: rem(18px);
      line-height: percentage(24 / 18);
    }

    &__offer-tag {
      transform: translateY(rem(-10px));

      font-size: rem(14px);
      line-height: percentage(20 / 14);
    }
  }

  @include media-breakpoint-up(lg) {
      margin-top: rem(60px);
      margin-bottom: rem(100px);

      &__service {
        margin-right: rem(40px);
        padding-right: rem(40px);
      }
  }

  @include media-breakpoint-up(xl) {
    &__service {
      padding-right: rem(80px);
    }
  }
}
