.questions {
  margin-top: rem(48px);
  margin-bottom: rem(94px);

  &__nav {
      overflow: visible;
  }

  &__menu {
    display: none;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: rem($spacer-3);
      bottom: 0;

      width: 1px;

      background-color: $gray-300;
    }
  }

  &__menu-list {
    list-style-type: none;

    overflow-y: auto;
    max-height: calc(100vh - 80px - 24px);
    padding: 0;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-bottom: rem($spacer-5);
    }
  }

  &__answers {
    list-style-type: none;

    max-width: rem(690px);
    padding-left: rem($spacer-3);
  }

  &__answer {
    &:not(:last-child) {
      margin-bottom: rem(60px);
    }
  }

  &__answer-title {
    margin-bottom: rem($spacer-10);
  }

  &__feedback {
    margin-top: rem($spacer-10);
  }

  &__feedback-title {
    margin: 0;
    margin-bottom: rem($spacer-5);

    color: $gray-700;
  }

  &__marks {
    display: flex;
    align-items: center;
  }

  &__mark-button {
    display: flex;
    align-items: flex-end;

    font-weight: 400;
    line-height: rem(21px);

    color: $gray-700;

    &:not(:last-child) {
      margin-right: rem($spacer-7);
    }

    &--pos:hover,
    &--pos:focus {
      color: $green-200;
    }

    &--neg:hover,
    &--neg:focus {
      color: $red-100;
    }
  }

  @include media-breakpoint-up(md) {
    &__menu {
      display: block;
    }

    &__answer {
      &:not(:last-child) {
        margin-bottom: rem($spacer-8);
      }
    }

    &__answer-title {
      margin-bottom: rem($spacer-4);
    }

    &__feedback {
      display: flex;
      align-items: flex-end;
      margin-top: rem($spacer-7);
    }

    &__feedback-title {
      margin-bottom: 0;
      margin-right: rem($spacer-7);
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: rem(90px);
    margin-bottom: rem(53px);

    &__menu-list {
      padding-right: rem($spacer-5);
    }

    &__answers {
      padding-left: rem($spacer-8);
    }
  }

  @include media-breakpoint-up(xl) {
    &__menu-list {
      padding-right: rem($spacer-5);
      max-height: calc(100vh - 190px- 24px);
    }

    &__answers {
      padding-left: rem(52px);
    }
  }
}
