.quick-menu {
    margin-top: rem(30px);
    margin-bottom: rem(37px);

    &__list {
        @include list-unstyled;
        margin-bottom: rem(-10px);
    }

    &__item {
        margin-bottom: rem(10px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(27px);
        margin-bottom: rem(53px);
    }

    @include media-breakpoint-up(xl) {
    }
}