.ratingbar {
    margin-top: rem($spacer-10);
    margin-bottom: rem($spacer-10);

    &__slider {
        overflow: visible;
    }

    &__item {
        width: auto;
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(88px);
        margin-bottom: rem(88px);
    }

    @include media-breakpoint-up(xl) {

        &__item {
            width: 100%;
        }
    }
}