.reviews {
    margin-top: rem($spacer-10);
    margin-bottom: rem($spacer-10);

    &[class^="bg-"], &[class*=" bg-"] {
        .section__body {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-10);
        }
    }

    .section__header {
        text-align: center;
    }

    @include media-breakpoint-down(md) {
        [class^="col-lg-"], [class*=" col-lg-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__body {
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
        }

        &[class^="bg-"], &[class*=" bg-"] {
            .section__body {
                padding-top: rem($spacer-9);
                padding-bottom: rem(50px);
            }
        }

        .section__header {
            text-align: left;
        }

        &__items {
            margin-bottom: rem(- $spacer-6);
        }

        .swiper-wrapper {
            @include make-row();
            box-sizing: border-box;
            width: auto;
            height: auto;
        }

        .swiper-pagination {
            display: none;
        }

        &__item {
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}