.review-form {
    margin-top: rem($spacer-10);
    margin-bottom: rem($spacer-10);
    background: $gray-240 linear-gradient(90deg, $gray-240, $gray-300);

    &__body {
        padding-top: rem($spacer-6);
        padding-bottom: rem($spacer-10);
    }

    .section__description {
        color: $gray-600;
    }

    &__content {
        max-width: rem(655px);
    }

    @include media-breakpoint-up(lg) {

        &__body {
            display: flex;
            padding: rem(0 $spacer-6);
            border-radius: $border-radius-lg;
        }

        &__header {
            display: flex;
            flex-direction: column;
            flex: 0 0 40%;
            max-width: rem(550px);
            padding-top: rem(72px);
            margin-bottom: 0;
        }

        .section__description {
            max-width: 18em;
        }

        &__img {
            display: block;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
        }

        &__content {
            flex: 1;
            margin-left: rem($spacer-7);
            padding-top: rem(84px);
            padding-bottom: rem(14px);
        }
    }

    @include media-breakpoint-up(xl) {
        &__body {
            padding-left: rem($spacer-9);
            padding-right: rem($spacer-9);
            background: $gray-240 linear-gradient(90deg, $gray-240, $gray-300);
        }
    }
}