.reviews-filter {
    margin-top: rem($spacer-6);
    margin-bottom: rem($spacer-6);

    @include media-breakpoint-up(lg) {
        &__filter {
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}