.section {
    scroll-margin-top: rem($section-offset);

    &__header {
        margin-bottom: rem($spacer-7);

        &-content {
            max-width: rem(738px);
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__description {
        margin-top: rem($spacer-6);
        @include em-line-height($font-size-base, $line-height-base-2);
    }

    &__address {
        margin-top: rem(14px);

        &-icon {
            font-size: rem(27px);
            margin-right: rem(7px);
            top: rem(- $spacer);
        }
    }

    &__footer {
        text-align: center;
        margin-top: rem($spacer-10);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        &__header {
            margin-bottom: rem(46px);
        }

        &__description {
            margin-top: rem($spacer-5);
        }

        &__address {
            margin-top: rem(17px);
        }

        &[data-slider-container] & {
            &__header {
                display: flex;
                align-items: center;
            }

            &__controls {
                margin-left: auto;
            }

            &__title.text-center {
                flex: 1;
                margin-left: rem(99px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__footer {
            margin-top: rem(50px);
        }

        &[class^="bg-"], &[class*=" bg-"] {
            background: none;

            .section__body {
                border-radius: $border-radius-lg;
            }
        }

        @each $key, $value in $bg-colors {
            &.bg-#{$key} & {
                &__body {
                    @include setProperty('background-color', $value, 'bg');
                }
            }
        }
    }
}