.services {
    margin-bottom: rem($spacer-6);

    &__body {
        padding-top: rem(22px);
        padding-bottom: rem(22px);
    }

    &__list {
        margin-bottom: rem(- $spacer-6);
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(50px);

        &__body {
            padding: rem(41px $spacer-7 98px);
        }
    }
}