.staff {
    margin-bottom: rem($spacer-7);

    &__body {
        padding-top: rem($spacer-8);
        padding-bottom: rem(48px);
    }

    &__list {
        margin-bottom: rem(- $spacer-9);
    }

    &__item {
        margin-bottom: rem($spacer-9);
    }

    &--preview {
        margin-top: rem(51px);
        margin-bottom: rem(57px);
    }

    &--preview & {
        &__body {
            padding-top: rem($spacer-9);
            padding-bottom: rem($spacer-9);
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        .swiper-pagination {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(80px);

        &__body {
            padding: rem($spacer-9 $spacer-5 68px);
        }

        &__items {
            max-width: rem(1200px);
            margin-left: auto;
            margin-right: auto;
        }

        &__list {
            margin-left: rem(- $spacer-5);
            margin-right: rem(- $spacer-5);
            margin-bottom: rem(- $spacer-7);
        }

        &__item {
            margin-bottom: rem($spacer-7);
            padding-left: rem($spacer-5);
            padding-right: rem($spacer-5);
        }

        &--preview {
            margin-top: rem(60px);
            margin-bottom: rem(60px);
        }

        &--preview & {
            &__body {
                padding-top: rem(44px);
                padding-bottom: rem(58px);
            }
        }
    }
}