.works {
    margin-bottom: rem($spacer-7);

    &__body {
        padding: rem($spacer-5) 0 rem($spacer-10);
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        padding: rem($spacer-4);

        background-color: $white;
        border-radius: 10px;

        &:not(:last-child) {
            margin-bottom: rem($spacer-4);
        }
    }


    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(80px);

        &__body {
            padding: rem($spacer-10) rem($spacer-5);
        }

        &__item {
            padding: rem($spacer-10);

            &:not(:last-child) {
                margin-bottom: rem($spacer-7);
            }
        }
    }
}
