// Form validation states
//
// Used in _forms.scss to generate the form validation CSS for warnings, errors,
// and successes.

@mixin form-control-validation($color) {
  // Color the label and help text
  .form-control-feedback,
  .form-control-label,
  .form-check-label,
  .form-check-inline,
  .custom-control {
    color: $color;
  }

  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: $color;
  }

  // Set validation states also for addons
  .input-group-addon {
    color: $color;
    border-color: $color;
    background-color: lighten($color, 40%);
  }
}

// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `@input-border-focus` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// WebKit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.
@mixin form-control-focus($input-border-focus, $input-color-focus) {
  &:focus {
    color: $input-color-focus;
    background-color: $input-bg-focus;
    border-color: $input-border-focus;
    outline: none;
  }
}

// Form control sizing
//
// Relative text size, padding, and border-radii changes for form controls. For
// horizontal sizing, wrap controls in the predefined grid classes. `<select>`
// element gets special love because it's special, and that's a fact!

@mixin input-size($input-height, $padding-x, $padding-y, $font-size, $line-height, $nofont: false) {
    max-height: rem($input-height);
    padding: rem($padding-y $padding-x);
    @if (not $nofont) {
        @include font($font-size, $line-height);
    }
}

@mixin field-sizes() {
    @each $name, $options in $input-sizes {
        &--#{$name} {
            $height:      getValue($options, 'height');
            $padding-x:   getValue($options, 'padding-x');
            $icon-size:   getValue($options, 'icon-size');
            $icon-offset: getValue($options, 'icon-offset');
            $font-size:    getValue($options, 'font-size');
            $line-height:  getValue($options, 'line-height');

            .form__input {
                height: rem($height);

                @if ($padding-x) {
                    @if ($line-height) {
                        padding: rem(( $height - $input-border-width * 2 - $line-height) / 2 ($padding-x - $input-border-width));
                    } @else {
                        padding: rem(( $height - $input-border-width * 2 - $input-line-height) / 2 ($padding-x - $input-border-width));
                    }
                }

                @if ($font-size) {
                    @include font($font-size, $line-height);
                }
            }

            @if ($icon-size) {
                .form__field-icon {
                    @include size(rem($icon-size));
                }
            }

            @if ($icon-offset) {
                &.form__field--icon-right {
                    .form__input {
                        padding-right: rem($icon-offset);
                    }
                }

                &.form__field--icon-left {
                    .form__input {
                        padding-left: rem($icon-offset);
                    }
                }
            }
        }
    }
}
