.switcher {
  display: flex;
  align-items: center;
  height: 32px;
  color: $gray-700;
  line-height: 32px;
  position: relative;
  vertical-align: middle;
  user-select: none;
}
.switcher .switcher__switch {
  flex-shrink: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 72px;
  height: 32px;
  margin: 0;
  margin-right: 24px;
  position: relative;
  background-position: -72px 0;
  background-size: 200% 100%;
  border: 1px solid $gray-250;
  border-radius: 16px;
  color: #000;
  transition: all 150ms ease-in;

  @media(min-width: 476px) {
    margin-right: 48px;
  }
}
.switcher .switcher__switch:before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 6px;
  text-indent: -100%;
  background-color: $brown-200;
  border-radius:50%;
  transform: translateY(-50%);
  transition: all 150ms ease-in;
}
.switcher .switcher__feature {
  position: relative;
  display: block;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.switcher .switcher__feature:before, .switcher .switcher__feature:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease-in;
  color: $gray-700;
}
.switcher .switcher__feature:before {
  content: attr(data-label-on);
  left: -60%;
}
.switcher .switcher__feature:after {
  content: attr(data-label-off);
  right: 8px;
}
.switcher input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.switcher input[type=checkbox]:checked + .switcher__switch {
  background-position: 0 0;
  border-color: $gray-250;
}
.switcher input[type=checkbox]:checked + .switcher__switch:before {
  left: calc(100% - 27px);
}
.switcher input[type=checkbox]:checked + .switcher__switch .switcher__feature:before {
  left: 13px;
}
.switcher input[type=checkbox]:checked + .switcher__switch .switcher__feature:after {
  right: -60%;
}

/* Hover */
.switcher input[type=checkbox]:not(:disabled) + .switcher__switch:hover:before {
  border-color: rgba(0,0,0,.6);
}
.switcher input[type=checkbox]:not(:disabled) + .switcher__switch:hover {
  cursor: pointer;
}

/* Disabled */
.switcher input[type=checkbox]:disabled + .switcher__switch {
  border-color: rgba(0, 0, 0, .1);
  filter: grayscale(70%);
}
.switcher input[type=checkbox]:disabled + .switcher__switch .switcher__feature {
  color: #999;
}
