<div class="section ask-doctor">
  <div class="container">
    <form action="#" method="POST" class="ask-doctor__form form" novalidate="novalidate" data-parsley-validate>
      <img srcset="./assets/img/temp/callback/bg-ask-doctor.png 1x, ./assets/img/temp/callback/bg-ask-doctor@2x.png 2x" src="./assets/img/temp/callback/bg-ask-doctor.png" alt="" class="ask-doctor__img">

      <div class="ask-doctor__content">
        <h3 class="ask-doctor__title">Спросить у врача</h3>

        <div class="row">
          <div class="col-xs-12 col-lg-6 col-xl-4">
            <div class="form__group">
              <div class="form__field">
                <input type="text" class="form__input" id="name" placeholder="Ваше имя">
              </div>
              <div class="form__field">
                <input type="text" class="form__input" id="email" data-mask="email" placeholder="Ваш e-mail" required>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-6 col-xl-5">
            <div class="form__group form__group--textarea">
              <div class="form__field">
                <textarea class="form__input form__input--stretch" id="message" placeholder="Ваше сообщение" required></textarea>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-auto">
            <div class="form__submit">
              <input type="submit" class="form__button button button--cta button--lg" value="Перезвоните мне">
            </div>
          </div>
        </div>

        <div class="form__consent text-sm">Ответ придет вам на электронную почту. Если вы не получили ответа в течении нескольких дней, пожалуйста проверьте папку «спам»</div>

        <div class="form__consent text-sm">*Отправляя данные, вы соглашаетесь <a href="#" class="link-underline link-inherit">с политикой конфиденциальности</a></div>
      </div>
    </form>
  </div>
</div>
