<div class="section benefits">
  <div class="container">
    <div class="section__body benefits__body">
      <div class="section__header">
        <div class="section__header-content">
          <h2 class="section__title">Консультация в SimplaDenatal</h2>
          <div class="section__description">
            <p>Вы можете пройти коснультацию <strong>сразу у нескольких специалистов</strong> —  для этого уточните при записи, что вам  необходим осмотр у врачей разных направлений. Мы сможем подобрать для вас наиболее удобное время, чтобы консультации следовали одна за другой</p>
          </div>
        </div>
      </div>

      <div class="benefits__list row">
        {% for item in benefits|slice(0,4) %}
          <div class="benefits__item col-xs-12 col-md-6">
            <div class="benefit">
              <div class="benefit__content">
                <div class="benefit__label text-md text-primary">{{ item.label }}</div>
                <h4 class="benefit__title">{{ item.title }}</h4>
                <p class="benefit__description">{{ item.description }}</p>
              </div>
              <div class="benefit__picture">
                <img srcset="./assets/img/temp/benefits/{{ item.image }}.png 1x, ./assets/img/temp/benefits/{{ item.image }}@2x.png 2x" src="./assets/img/temp/benefits/{{ item.image }}.png" alt="" class="benefit__img">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>