<div class="section callback">
  <div class="container">
    <form action="#" method="POST" class="callback__form form" novalidate="novalidate" data-parsley-validate>
      <img srcset="./assets/img/temp/callback/bg-callback.png 1x, ./assets/img/temp/callback/bg-callback@2x.png 2x" src="./assets/img/temp/callback/bg-callback.png" alt="" class="callback__img">

      <div class="callback__content">
        <h3 class="callback__title">Укажите свой номер телефона, мы перезвоним и подберём для вас удобное время приёма</h3>

        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="form__group">
              <div class="form__field">
                <input type="text" class="form__input" id="name" placeholder="Ваше имя">
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="form__group">
              <div class="form__field">
                <input type="text" class="form__input" id="phone" data-mask="phone" placeholder="Ваш телефон" required>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-auto">
            <div class="form__submit text-center">
              <input type="submit" class="form__button button button--cta button--lg" value="Перезвоните мне">
            </div>
          </div>
        </div>

        <div class="form__consent text-sm">*Отправляя данные, вы соглашаетесь <a href="#" class="link-underline link-inherit">с политикой конфиденциальности</a></div>
      </div>
    </form>
  </div>
</div>