<div class="section certificates {% if not description %}certificates--preview{% endif %}" data-slider-container>
  <div class="container">
    <div class="section__header">
      {% if description %}
        <div class="section__header-content">
          <h2 class="section__title">Сертификаты клиники</h2>
          <div class="section__description">
            <p>Клиника работает в соответствии с законодательными и нормативными актами в области здравоохранения, действующими на территории РФ. Все специалисты имеют действующие сертификаты в соответсвии со своими специальностями.</p>
          </div>
        </div>
        {% else %}

        <h2 class="section__title text-center">Лицензии</h2>
      {% endif %}
      <div class="section__controls swiper-controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

      <div class="section__slider certificates__slider swiper" data-slider="certificates" data-gallery>
        <div class="swiper-wrapper">
          {% for item in certificates %}
            <div class="swiper-slide">
              {% if description %}
                {% set title = false %}
                {% else %}
                {% set title = true %}
              {% endif %}
              {% include '../partials/_certificate-card.twig' %}
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>