<div class="section company-details">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title text-center">Реквизиты</h2>
      <button class="company-details__copy icon-copy"></button>
    </div>

    <div class="company-details-list details">
      {% set batchCount = (details|length / 2)|round(0, 'ceil') %}
      {% for batch in details|batch(batchCount) %}
        <dl class="details__col">
          {% for item in batch %}
            <dt class="details__label text-muted">{{ item.label }}</dt>
            <dd class="details__data text-lg">{{ item.data }}</dd>
          {% endfor %}
        </dl>
      {% endfor %}
    </div>
  </div>
</div>