<div class="section contract">
  <div class="container">
    <div class="contract__card">
      <div class="contract__card-content">
        <h4 class="contract__card-title">Договор на оказание услуг</h4>
        <p class="contract__card-description">Любое сотрудничество с нашей клиникой начинается с заключения договора на услуги.</p>
        <a href="#" class="contarct__card-button button button--link">
          <span class="button__text">О знакомиться с договором</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>
      <img srcset="./assets/img/temp/contract.png 1x, ./assets/img/temp/contract@2x.png 2x" src="./assets/img/temp/contract.png" alt="" class="contract__card-img">
    </div>
  </div>
</div>