<div class="section doctor-info tabs tabs--pills" data-component="tabs">
  <div class="container">
    {#<ul class="tabs__list">
      {% for tab in doctor.tabs %}
        <li class="tabs__item">
          <a href="#{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">
            {{ tab.name }}
          </a>
        </li>
      {% endfor %}
    </ul>#}

    <div class="doctor-info__nav swiper" data-slider="tabs">
      <div class="swiper-wrapper tabs__list">
        {% for tab in doctor.tabs %}
          <div class="tabs__item swiper-slide">
            <a href="#{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">
              {{ tab.name }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="tabs__content">
      {% for tab in doctor.tabs %}
        <div class="doctor-info__section tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-tab">
          {% if tab.content.title %}
            <h2 class="doctor-info__title">{{ tab.content.title }}</h2>
            {% else %}
            <h2 class="doctor-info__title">{{ tab.name }}</h2>
          {% endif %}

          {% if tab.content.list %}
            <ul class="doctor-info__list list-check">
              {% for item in tab.content.list %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if tab.content.timeline %}
            <dl class="doctor-info__timeline timeline">
              {% for item in tab.content.timeline %}
                <dt class="timeline__date text-lg">{{ item.date }}</dt>
                <dd class="timeline__data">{{ item.data }}</dd>
              {% endfor %}
            </dl>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>