<div class="section certificates certificates--auto bg-lightest" data-slider-container>
  <div class="container">
    <div class="section__body certificates__body">
      <div class="section__header">
        <h2 class="section__title text-center">Сертификаты</h2>
        <div class="section__controls swiper-controls">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <div class="section__slider certificates__slider swiper" data-slider="certificates-auto" data-gallery>
        <div class="swiper-wrapper">
          {% for i in 1..5 %}
            <div class="certificates__slide swiper-slide">
              {% include '../partials/_certificate-card-doctor.twig' %}
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>