<div class="documents-online">
  <div class="container">
    <div class="row">
      <div class="documents-online__content col-xs-12 col-lg-8">
        <div class="documents-online__content-inner">
          <div class="documents-online__desc">
            <h1 class="documents-online__title h2">Документы: заполнить онлайн перед первым визитом</h1>
            <p class="documents-online__instructions">Пожалуйста, введите данные в форму. Документы будут полностью готовы к вашему приезду в клинику.</p>
            <p class="documents-online__hint">
              <span>Что это за документы, зачем они нужны?</span>
              <i class="documents-online__hint-icon icon-arrow-right-2"></i>
            </p>
          </div>
        </div>
        <div class="documents-online__form-wrapper">
          <p class="h4 documents-online__form-step">шаг 1 из 3</p>
          <form action="#" method="POST" class="documents-online__form form" novalidate="novalidate" data-parsley-validate>
            <div class="documents-online__fieldset">
              <h2 class="h4 documents-online__legend">Ваши данные</h2>
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-surname" placeholder="Фамилия" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-name" placeholder="Имя" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-middlename" placeholder="Отчество">
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-birthdate" placeholder="Дата рождения" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="email" class="form__input documents-online__input" id="documents-email" placeholder="email" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-phone" data-mask="phone" placeholder="Ваш телефон" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="documents-online__fieldset">
              <h2 class="h4 documents-online__legend">Паспортные данные</h2>
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-passport-series" placeholder="Серия" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-8">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-passport-id" placeholder="Номер" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-8">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-passport-issued" placeholder="Выдан">
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-passport-date-of-issue" placeholder="Дата выдачи" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="documents-online__fieldset">
              <h2 class="h4 documents-online__legend">Адрес регистрации</h2>
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-registration-city" placeholder="город" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-8">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-registration-street" placeholder="улица" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-registration-building" placeholder="дом" required>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-registration-block" placeholder="корп./стр.">
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form__group documents-online__form-group">
                    <div class="form__field">
                      <input type="text" class="form__input documents-online__input" id="documents-registration-flat" placeholder="кв." required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="documents-online__fieldset">
              <h2 class="h4 documents-online__legend">Адрес проживания</h2>
              <div class="form__group documents-online__form-group">
                <div class="form__field">
                  <label class="switcher">
                    <input type="checkbox" class="form-check__input switcher__input" id="documents-is-residence-equals-registration" checked>
                    <span class="switcher__switch">
                      <span class="switcher__feature" data-label-on="Да" data-label-off="Нет"></span>
                    </span>
                    <span>совпадает с адресом регистрации</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form__submit">
              <input type="submit" class="form__button button button--primary button--md" value="Далее">
            </div>
          </form>
        </div>
      </div>

      <div class="documents-online__examples col-xs-12 col-lg-4">
        <div class="documents-online__examples-inner">
          <h2 class="documents-online__examples-title h4">Ознакомиться с документами</h2>
          <ul class="documents-online__examples-list">
            {% for document in documentsOnline %}
              <li class="documents-online__examples-item">
                <a class="documents-online__examples-link" href="{{ document.href }}">
                  <i class="documents-online__examples-icon icon-{{ document.type }}"></i>
                  <span>{{ document.text }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
