<div class="section documents">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title text-center">Документы</h2>
    </div>

    <div class="documents__items files">
      {% set batchCount = (docs|length / 2)|round(0, 'ceil') %}
      {% for batch in docs|batch(batchCount) %}
        <ul class="files__list">
          {% for item in batch %}
            <li class="files__item">
              <a href="#" class="file">
                <i class="file__icon icon-{{ item.icon }}"></i>
                <span class="file__name">{{ item.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>