<div class="section examples">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title text-center">{{ title }}</h2>
    </div>

    <div class="examples__items swiper" data-slider="examples">
      <div class="swiper-wrapper">
        {% for i in 1..8 %}
          <div class="examples__item swiper-slide col-lg-3">
            <div class="example beer-slider" data-element="ba-slider">
              <img src="./assets/img/temp/examples/after.jpg" alt="" class="example__img">
              <div class="beer-reveal">
                <img src="./assets/img/temp/examples/before.jpg" alt="" class="example__img">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="section__footer">
      <a href="#" class="section__footer-button button button--link hidden-md-down">
        <span class="button__text">Показать еще</span>
        <i class="button__icon icon-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
