<div class="section faq">
  <div class="faq__container container">
    <div class="section__header">
      <h2 class="section__title text-center">Как мы можем помочь</h2>
    </div>

    <ul class="faq__list">
      {% for item in faq %}
        <li class="faq__item collapsible is-collapsed" data-component="collapsible">
          <h6 class="faq__item-title collapsible__toggle bg-lightest" data-element="collapsible-toggle">
            {{ item.question }}
            <i class="faq__item-toggle icon-add"></i>
          </h6>
          <div class="faq__item-body collapsible__content" data-element="collapsible-content">
            <img srcset="./assets/img/temp/avatars/1.jpg 1x, ./assets/img/temp/avatars/1@2x.jpg 2x" src="./assets/img/temp/avatars/1.jpg" alt="" class="faq__item-avatar hidden-xs-down">
            <div class="faq__item-text">
              <p>{{ item.answer }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div class="faq__widget text-center">
      <h2 class="faq__widget-title">Ответы на частые вопросы</h2>
      <a href="#" class="faq__widget-more button button--link">
        <span class="button__text">Перейти в раздел</span>
        <i class="button__icon icon-chevron-right"></i>
      </a>
    </div>

    <div class="faq__seo text-block" data-columns="2">
      <p><strong>SEO текст  765 символов  94 слова</strong> Специалисты Smile-at-Once имеют высокую квалификацию, прошли обучение в России и за рубежом, имеют многочисленные сертификаты по современным методам восстановления зубов, в том числе по имплантации и протезированию зубов с моментальной нагрузкой (immediate load), являются членами Российской ассоциации стоматологической имплантологии (РАСтИ).</p>
      <p>Наши врачи регулярно принимают участие в семинарах и конференциях по современным методам стоматологического лечения как самостоятельно, так и в качестве участников деятельности Открытого Сообщества Стоматологов. В том числе проводят лекции и семинары по одноэтапной имплантации зубов с моментальной нагрузкой с целью обучения специалистов из разных городов на основе своего успешного практического и теоретического опыта.</p>
    </div>
  </div>
</div>