<div class="section gallery">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Галерея клиники</h2>
    </div>

    <div class="gallery__slider swiper" data-slider="gallery" data-gallery>
      <div class="swiper-wrapper">
        {% for i in 1..5 %}
          <a href="/assets/img/temp/gallery/{{ i }}.jpg" class="gallery__item swiper-slide" data-element="gallery-trigger">
            <img srcset="/assets/img/temp/gallery/{{ i }}.jpg 1x, /assets/img/temp/gallery/{{ i }}@2x.jpg 2x" src="/assets/img/temp/gallery/{{ i }}.jpg" alt="" class="gallery__img">
          </a>
        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>