
  <div class="section implants bg-lightest tabs tabs--pills" data-component="tabs">
    <div class="container">
      <div class="swiper" data-slider="tabs">
          <div class="swiper-wrapper tabs__list">
              <div class="tabs__item swiper-slide">
                  <a href="#id-use" class="tabs__link  is-active " data-element="tabs-toggle">
                      Используемые имланты
                  </a>
              </div>
              <div class="tabs__item swiper-slide">
                  <a href="#id-imaplants" class="tabs__link " data-element="tabs-toggle">
                      Имплантация зубов
                  </a>
              </div>
              <div class="tabs__item swiper-slide">
                  <a href="#id-recomend" class="tabs__link " data-element="tabs-toggle">
                      Рекомендуемые импланты
                  </a>
              </div>
              <div class="tabs__item swiper-slide">
                  <a href="#id-timing" class="tabs__link " data-element="tabs-toggle">
                      Способы и сроки
                  </a>
              </div>
          </div>
      </div>

      <div class="tabs__content">
        <div class="tabs__tab is-active" data-id="id-use" data-element="tabs-tab">
          <div class="section__body implants__body">
            <h2 class="section__body implants__title">Используемые имплантыs</h2>
            <div class="implants__table-wrapper">
              <div class="implants__table">
                <div class="implants__table-header row">
                  {% for record in implants.table %}
                    <div class="implants__table-header-cell col-xs-3">
                      <div class="implants__header-cell-inner">
                        {% if record.title.file %}
                          {% if record.title.type == 'svg' %}
                            <img src="./assets/img/temp/logos/{{ record.title.file }}.svg" width="{{ record.title.width }}" height="{{ record.title.height }}" alt="{{ record.title.name }}" class="implants__brand-logo">
                          {% else %}
                            <img srcset="./assets/img/temp/logos/{{ record.title.file }}.{{ record.title.type }} 1x, ./assets/img/temp/logos/{{ record.title.file }}.{{ record.title.type }} 2x" src="./assets/img/temp/logos/{{ record.title.file }}.{{ record.title.type }}" width="{{ record.title.width }}" height="{{ record.title.height }}" alt="" class="implants__brand-logo">
                          {% endif %}
                        {% else %}
                          <p class="implants__col-title text-lg">{{ record.title.name }}</p>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% for key in implants.keys %}
                  <div class="implants__table-row row">
                    {% for record in implants.table %}
                      <div class="implants__table-cell col-xs-3">
                        {% for paragraph in record[key] %}
                          <p class="text-lg">{{ paragraph }}</p>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__tab" data-id="id-imaplants" data-element="tabs-tab">
          <div class="section__body implants__body">
            <h2 class="section__body implants__title">Имплантация зубов</h2>
          </div>
        </div>
        <div class="tabs__tab" data-id="id-recomend" data-element="tabs-tab">
          <div class="section__body implants__body">
            <h2 class="section__body implants__title">Рекомендуемые импланты</h2>
          </div>
        </div>
        <div class="tabs__tab" data-id="id-timing" data-element="tabs-tab">
          <div class="section__body implants__body">
            <h2 class="section__body implants__title">Способы и сроки</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
