<div class="section intro">
  <div class="container">
    <div class="intro__body row align-md-bottom justify-md-between">
      <div class="intro__content col-xs-12 col-md-6">
        <h2 class="intro__title h1">SimplaDental</h2>
        <p class="intro__description text-lg">Это современная высокотехнологичная стоматология в Москве, где вам смогут помочь даже в самом тяжелом случае. </p>
        <a href="doctors.html" class="intro__button button button--link hidden-sm-down">
          <span class="button__text">Подробнее</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>

      <div class="intro__picture col-xs-12 col-md-6">
        <img srcset="./assets/img/temp/intro/1.jpg 1x, ./assets/img/temp/intro/1@2x.jpg 2x" src="./assets/img/temp/intro/1.jpg" alt="" class="intro__img">
      </div>
    </div>

    <a href="doctors.html" class="intro__button button button--primary button--md hidden-md-up">
      <span class="button__text">Подробнее</span>
    </a>
  </div>
</div>