<div class="section map">
  <div class="container">
    <div class="section__header text-center">
      <h2 class="section__title">Как добраться</h2>
      {% if description != false %}
        <div class="section__description section__address"><i class="section__address-icon icon-map-pin"></i>проспект Мира, 188, Москва, Россия</div>
      {% endif %}
    </div>

    <div class="map__main row">
      <div class="map__route route col-xs-12 col-lg-6">
        <div class="route__filter">
          <div class="route__filter-item">
            <select data-element="select-icon" data-map-select class="select-icon">
              <option label="label1" value="auto" data-icon="drive" title="метро Ростокино; Проспект Мира, 188">метро Ростокино; Проспект Мира, 188</option>
              <option label="label2" value="pedestrian" data-icon="pedestrian" title="Метро Сокол; Проспект Мира, 188">Метро Сокол; Проспект Мира, 188</option>
              <option label="label3" value="masstransit" data-icon="bus" title="Метро Тушинская; Проспект Мира, 188">Метро Тушинская; Проспект Мира, 188</option>
            </select>
          </div>
          <div class="route__filter-item route__filter-metro text-md" data-metro="pedestrian">
            <select data-element="select-metro" data-map-select class="select-metro">
              <option label="label4" value="pedestrian" title="метро Римская; Проспект Мира, 188">метро Римская; Проспект Мира, 188</option>
              <option label="label5" value="pedestrian" title="Метро Динамо; Проспект Мира, 188">Метро Динамо; Проспект Мира, 188</option>
              <option label="label6" value="pedestrian" title="Метро Южная; Проспект Мира, 188">Метро Южная; Проспект Мира, 188</option>
            </select>
          </div>
          <div class="route__filter-item route__filter-address text-md">проспект Мира, 188</div>
        </div>

        <div class="tabs__content">
          {% for id in ['label1', 'label2', 'label3', 'label4', 'label5', 'label6'] %}
            <div class="tabs__tab {% if loop.first %} is-active {% endif %}" id="{{ id }}" data-element="map-route-text">
              <ul class="route__list" data-map-route="{{ id }}">
                {% for item in route %}
                  <li class="route__item">
                    <div class="route__icon-placeholder">
                      <i class="route__icon icon-{{ item.icon }}"></i>
                    </div>
                    <span class="route__text">{{ item.text }}</span>
                    {% if description != false %}
                      {% if item.image %}
                        <img srcset="./assets/img/temp/map/{{ item.image }}.jpg 1x, ./assets/img/temp/map/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/map/{{ item.image }}.jpg" alt="" class="route__img hidden-md-down">
                      {% endif %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="map__frame col-xs-12 col-lg-6">
        <div class="map__placeholder" id="map"></div>
      </div>
    </div>

    {% if description != false %}
      <div class="map__code bg-lighter hidden-md-down">
        <div class="map__code-content">
          <div class="map__code-text">Просто наведите камеру телефона на QR-код для построения маршрута до клиники</div>
        </div>
        <div class="map__code-picture">
          <img srcset="./assets/img/temp/map-phone.png 1x, ./assets/img/temp/map-phone@2x.png 2x" src="./assets/img/temp/map-phone.png" alt="" class="map__code-img">
          <div class="map__code-qr" data-element="qr-code"></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>