<div class="section offers offers--preview">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Специальные предложения</h2>
    </div>

    <div class="section__slider swiper" data-slider="offers">
      <div class="swiper-wrapper">
        {% for item in offers %}
          <div class="swiper-slide">
            {% include '../partials/_offer-card.twig' %}
          </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>