<div class="payment-methods">
  <div class="payment-methods__container container">
    <div class="payment-methods__label text-md">Принимаем к оплате:</div>
    <ul class="payment-methods__list row align-xs-center justify-xs-between">
      {% for item in paymentMethods %}
        <li class="payment-methods__item col">
          <img src="./assets/img/payment-methods/{{ item.image }}.svg" alt="{{ item.name }}" class="payment-methods__img">
        </li>
      {% endfor %}
    </ul>
  </div>
</div>