<div class="section prices">
  <div class="container">
    <h2 class="section__title">Цены</h2>

    <ul class="prices__list">
      {% for service in prices %}
      <li class="prices__item">
        <p class="prices__service">
          <span class="prices__service-inner">{{ service.service }}</span>{% if service.specialPrice %}<span class="prices__offer-tag">Акция</span>{% endif %}
        </p>
        <p class="prices__price">
          {% if service.specialPrice %}
          <del>{{ service.price }}</del>  <b>{{ service.specialPrice }} </b>
          {% else %}
            {{ service.price }}
          {% endif %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
