<div class="section pricelist">
  <div class="container">
    <div class="pricelist__wrapper row">
      <div class="pricelist__menu col-xs-12 col-md-5 col-xl-4" data-sctiky-container>
        <ul class="pricelist__menu-list text-lg" data-sctiky-block>
          {% for item in list %}
            <li class="pricelist__menu-item">
              <a class="pricelist__menu-link link-inherit" href="#{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="pricelist__prices col-xs-12 col-md-7 col-xl-8">
        <ul class="pricelist__prices-categories">
          {% for item in list %}
              {% if item.services %}
              <li class="pricelist__prices-category">
                <h2 class="pricelist__prices-category-title" id="{{ item.link }}">{{ item.name }}</h2>
                <ul class="pricelist__prices-list">
                  {% for service in item.services %}
                  <li class="pricelist__prices-item">
                    <p class="pricelist__service">
                      <span class="pricelist__service-inner">{{ service.service }}</span>{% if service.specialPrice %}<span class="pricelist__offer-tag">Акция</span>{% endif %}
                    </p>
                    <p class="pricelist__price">
                      {% if service.specialPrice %}
                      <del>{{ service.price }}</del>  <b>{{ service.specialPrice }} </b>
                      {% else %}
                        {{ service.price }}
                      {% endif %}
                    </p>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
