<div class="section questions tabs tabs--pills" data-component="tabs">
  <div class="container">
    <div class="questions__nav swiper" data-slider="tabs">
      <div class="swiper-wrapper tabs__list">
        {% for tab in questions.tabs %}
          <div class="tabs__item swiper-slide">
            <a href="#{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">
              {{ tab.name }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="tabs__content">
      {% for tab in questions.tabs %}
        <div class="questions__section tabs__tab {% if loop.first %} is-active {% endif %}" data-id="{{ tab.id }}" data-element="tabs-tab">
          <div class="questions__wrapper row">
            <div class="questions__menu col-xs-12 col-md-5 col-xl-4" data-sctiky-container>
              <ul class="questions__menu-list text-lg" data-sctiky-block>
                {% for item in tab.questions %}
                  <li class="questions__menu-item">
                    <a class="questions__menu-link link-inherit" href="#{{ item.link }}">{{ item.question }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <ul class="questions__answers col-xs-12 col-md-7 col-xl-8">
              {% for item in tab.questions %}
                {% if item.question %}
                  <li class="questions__answer">
                    <h2 class="questions__answer-title" id="{{ item.link }}">{{ item.question }}</h2>
                    {% for paragraph in item.answer %}
                      <p>{{ paragraph }}</p>
                    {% endfor %}

                    <div class="questions__feedback">
                      <p class="questions__feedback-title">Был ли ответ полезен?</p>
                      <div class="questions__marks">
                        <a href="#" class="questions__mark-button questions__mark-button--pos button button--link">
                          <span class="button__text">Да </span>
                          <i class="button__icon icon-thumb-up"></i>
                        </a>
                        <a href="#" class="questions__mark-button questions__mark-button--neg button button--link">
                          <span class="button__text">Нет </span>
                          <i class="button__icon icon-thumb-down"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
