<div class="quick-menu">
  <div class="container">
    <ul class="quick-menu__list row">
      {% for item in list %}
        <li class="quick-menu__item col-xs-12 col-md-6 col-xl-4">
          <a href="#" class="menu-card {% if class %}menu-card--{{ class }} {% else %}link-hidden {% endif %}{% if gradient %}bg-gradient-{{ gradient }}{% else %}bg-lightest{% endif %}">
            <div class="menu-card__picture {% if item.imageAlign %}{{ item.imageAlign }}{% endif %}">
              <img srcset="./assets/img/temp/quick-menu/{{ item.image }}.png 1x, ./assets/img/temp/quick-menu/{{ item.image }}@2x.png 2x" src="./assets/img/temp/quick-menu/{{ item.image }}.png" alt="" class="menu-card__img">
            </div>
            <div class="menu-card__content">
              <h6 class="menu-card__title">{{ item.title }}</h6>
              {% if item.memo %}
                <p class="menu-card__memo">{{ item.memo }}</p>
              {% endif %}
              <p class="menu-card__price">{{ item.price }}</p>
              <i class="menu-card__button icon-arrow-right {% if item.memo %}menu-card__button--absolute {% endif %}"></i>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
