<div class="section ratingbar">
  <div class="container">
      <div class="ratingbar__slider swiper" data-slider="ratingbar">
        <div class="swiper-wrapper">
          {% for item in reviews.bar %}
            <div class="ratingbar__item swiper-slide {{ col }}">
              <div class="rating-card">
                <div class="rating-card__picture">
                  <img src="./assets/img/temp/logos/{{ item.logo.name }}" width="{{ item.logo.width }}" height="{{ item.logo.height }}" alt="" class="rating-card__logo">
                </div>
                <div class="rating-card__rating rating rating--lg">
                  <span class="product-card__rating-stars rating-stars" data-rate="{{ item.rating }}" data-size="23">
                    {% for i in 1..5 %}
                      <i class="rating-stars__star icon-star"></i>
                    {% endfor %}
                  </span>
                  <span class="rating__count">{{ item.count }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>