<div class="section reviews bg-lightest">
  <div class="container">
    <div class="section__body reviews__body">
      <div class="section__header">
        <h2 class="section__title">{{ title }}</h2>
      </div>

      <div class="reviews__items swiper" data-slider="reviews" data-gallery>
        <div class="swiper-wrapper">
          {% for item in list %}
            <div class="reviews__item swiper-slide {{ col }}">
              {% include '../partials/_review-card.twig' with { type: reviewType } %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="section__footer">
        <a href="#" class="section__footer-button button button--primary button--md hidden-lg-up">Показать еще</a>
        <a href="#" class="section__footer-button button button--link hidden-md-down">
          <span class="button__text">Показать еще</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>