<form action="#" method="POST" class="section review-form bg-lighter" data-parsley-validate>
  <div class="container">
    <div class="section__body review-form__body">
      <div class="section__header review-form__header">
        <h2 class="section__title">Оставить отзыв о&nbsp;клинике</h2>
        <p class="section__description text-lg">Не стесняйтесь - мы за честность и конструктивную критику</p>
        <img srcset="./assets/img/temp/reviews/review-img.png 1x, ./assets/img/temp/reviews/review-img@2x.png 2x" src="./assets/img/temp/reviews/review-img.png" alt="" class="review-form__img hidden-md-down">
      </div>

      <div class="review-form__content">
        <div class="row row--md">
          {% for field in reviews.form %}
            <div class="col-xs-12 {% if field.col %}{{ field.col }}{% endif %}">
              <div class="form__group">
                <div class="form__field">
                  {% if field.type != 'textarea' %}
                    <input type="{{ field.type }}" class="form__input" id="{{ field.id }}" {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %} {% if field.required %}required{% endif %}{% if field.mask %}data-mask="{{ field.mask }}"{% endif %}>

                    {% else %}
                    <textarea rows="4" class="form__input" id="{{ field.id }}" {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %} {% if field.required %}required{% endif %}></textarea>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="form__group form__dropzone">
          <div class="dropzone" data-dropzone-block>
            <div class="fallback">
              <div class="form-file">
                <input type="file" class="form-file__input" id="dropzoneCvUpload">
                <label class="form-file__label button button--outline-primary button--sm" for="dropzoneCvUpload">
                  <i class="button__icon icon-add-photo"></i>
                  <span class="button__text">Добавить фото</span>
                </label>
                <span class="form-file__note text-sm text-muted">
                  <i class="form-file__note-icon icon-info"></i>
                  <span class="form-file__note-text">Вы можете загрузить одно или несколько фото в форматах jpeg, png, pdf</span>
                </span>
              </div>
            </div>
            <div class="dz-message form-file">
              <div class="form-file__label button button--outline-primary button--sm" data-element="dropzone-trigger">
                <i class="button__icon icon-add-photo"></i>
                <span class="button__text">Добавить фото</span>
              </div>
              <span class="form-file__note text-sm text-muted">
                <i class="form-file__note-icon icon-info"></i>
                <span class="form-file__note-text">Вы можете загрузить одно или несколько фото в форматах jpeg, png, pdf</span>
              </span>
            </div>
            <div class="dz-preview" data-element="dropzone-previews">
              <div data-element="dropzone-template">
                <div class="dz-item row">
                  <div class="dz-item__col dz-item__col--icon col">
                    <i data-feather="paperclip" class="dz-item__icon"></i>
                  </div>
                  <div class="dz-item__col dz-item__col--content col">
                    <div class="dz-item__name" data-dz-name></div>
                    <div class="dz-item__error error text-error" data-dz-errormessage></div>
                  </div>
                  <div class="dz-item__col dz-item__col--progress col">
                    <div class="progress active" role="progressbar">
                      <div class="progress__bar" style="width:50%;" data-dz-uploadprogress></div>
                    </div>
                  </div>
                  <div class="dz-item__col dz-item__col--delete col">
                    <button data-feather="trash" class="dz-item__icon" data-dz-remove title="Delete"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form__group form__rating">
          <input type="range" min="0" max="100" value="100" step="1" class="form__rating-range">
          <div class="form__rating-label text-lg">Общее впечатление от клиники?</div>
        </div>

        <div class="form__submit">
          <input type="submit" class="form__button button button--cta" value="Отправить">
          <div class="form__note text-sm">*Отправляя данные, вы соглашаетесь с политикой конфидециальности</div>
        </div>
      </div>
    </div>
  </div>
</form>