<div class="section services bg-lightest">
  <div class="container">
    <div class="section__body services__body">
      <div class="section__header">
        <h2 class="section__title text-center">Услуги</h2>
      </div>

      <div class="services__list row">
        {% for item in services %}
          <div class="services__item col-xs-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="service-card">
              <a href="#" class="service-card__picture">
                <img srcset="./assets/img/temp/services/{{ item.image }}.png 1x, ./assets/img/temp/services/{{ item.image }}@2x.png 2x" src="./assets/img/temp/services/{{ item.image }}.png" alt="" class="service-card__img">
              </a>
              <div class="service-card__content">
                <h4 class="service-card__title"><a href="#" class="link-inherit">{{ item.title }}</a></h4>
                <ul class="service-card__list text-muted">
                  {% for li in item.list %}
                    <li class="service-card__item"><a href="#" class="link-inherit">{{ li }}</a></li>
                  {% endfor %}
                </ul>
                <a href="#" class="service-card__button button button--link">
                  <span class="button__text">Подробнее</span>
                  <i class="button__icon icon-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>