<div class="section staff staff--preview bg-lightest" data-slider-container>
  <div class="container">
    <div class="section__body staff__body">
      <div class="section__header">
        <h2 class="section__title text-center">Врачи</h2>
        <div class="section__controls swiper-controls">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <div class="section__slider staff__slider staff__items swiper" data-slider="staff">
        <div class="swiper-wrapper">
          {% for item in staff|slice(0,4) %}
            <div class="swiper-slide">
              {% include '../partials/_staff-card.twig' %}
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </div>

      <div class="section__footer">
        <a href="doctors.html" class="section__more button button--primary button--md hidden-lg-up">
          <span class="button__text">Все врачи</span>
        </a>
        <a href="doctors.html" class="section__more button button--link hidden-md-down">
          <span class="button__text">Все врачи</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>