<div class="section reviews {% if bg %}bg-lightest{% endif %}">
  <div class="container">
    <div class="section__body reviews__body">
      <div class="section__header">
        <h2 class="section__title {% if bg %}text-center{% endif %}">{{ title }}</h2>
      </div>

      <div class="reviews__items row {% if bg %}row--md {% else %} row--xs {% endif %}">
        {% for i in 1..items %}
          {% for item in reviews.video %}
            <div class="reviews__item col-xs-12 col-md-6 {{ col }}">
              {% include '../partials/_review-card.twig' with { type: 'video' } %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      <div class="section__footer">
        <a href="#" class="section__footer-button button button--primary button--md hidden-lg-up">Показать еще</a>
        <a href="#" class="section__footer-button button button--link hidden-md-down">
          <span class="button__text">Показать еще</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
