<div class="article-card">
  <div class="article-card__cover">
    <img src="./assets/img/temp/articles/{{ item.image }}.jpg" alt="" class="article-card__img">
  </div>

  <div class="article-card__inner">
    <time class="article-card__time" datetime="{{ item.date.robot }}">{{ item.date.human }}</time>

    <div class="article-card__lead-wrapper">
      <h4 class="article-card__title">{{ item.title }}</h4>
      <br>
      <br>
      <p class="article-card__lead">{{ item.lead }}</p>
    </div>

    <a href="{{ item.href }}" class="article-card__link button button--link">
      <span class="button__text">Читать</span>
      <i class="button__icon icon-chevron-right"></i>
    </a>
  </div>
</div>
