<a href="./assets/img/temp/certificates/doctor/{{ i }}.png" class="certificate-card certificate-card--doctor" data-element="gallery-trigger" title="">
  <div class="certificate-card__picture">
    <img src="./assets/img/temp/certificates/doctor/{{ i }}.png" alt="" class="certificate-card__img">
    <i class="certificate-card__icon icon-zoom-in"></i>
  </div>
</a>