<a href="./assets/img/temp/certificates/{{ item.image }}.png" class="certificate-card" data-element="gallery-trigger" title="{{ item.title }}">
  <div class="certificate-card__title {% if title != false %}hidden-md-down {% endif %}">{{ item.title }}</div>
  <div class="certificate-card__picture">
    <img srcset="./assets/img/temp/certificates/{{ item.image }}.png 1x, ./assets/img/temp/certificates/{{ item.image }}@2x.png 2x" src="./assets/img/temp/certificates/{{ item.image }}.png" alt="" class="certificate-card__img">
    <i class="certificate-card__icon icon-{{ item.icon }}"></i>
  </div>
</a>