<div class="contact-list {{ prefix }}__contacts row">
  <div class="contact-list__item {{ prefix }}__contacts-item col-xs-12 {% if prefix == 'footer' %} col-sm-6 col-md-4 {% else %} col-md-auto {% endif %}">
    {% if prefix == 'footer' %}
      <i class="contact-list__icon icon-map-pin {{ prefix }}__contacts-icon"></i>
      <div class="contact-list__content">
        <div class="contact-list__title text-lg">{{ company.address }}</div>
        <div class="contact-list__note text-md">{{ company.city }}</div>
      </div>

      {% else %}
      <i class="contact-list__icon icon-moscow-metro {{ prefix }}__contacts-icon"></i>
      <div class="contact-list__content">
        <div class="contact-list__title text-lg">{{ company.metro }}</div>
        <div class="contact-list__note text-md">{{ company.city }}, {{ company.address }}</div>
      </div>
    {% endif %}
  </div>

  {% for phone in company.phones %}
    <div class="contact-list__item {{ prefix }}__contacts-item  col-xs-12 {% if prefix == 'footer' %} col-sm-6 col-md-4 {% else %} col-md-auto {% endif %}">
      <i class="contact-list__icon icon-phone {{ prefix }}__contacts-icon"></i>
      <div class="contact-list__content">
        <div class="contact-list__title text-lg">
          <a href="tel:{{ phone.link }}" class="link-hidden">{{ phone.number }}</a>
        </div>
        <div class="contact-list__note text-md">{{ phone.note }}</div>
      </div>
    </div>
  {% endfor %}

  {% if prefix == 'header' %}
    <div class="contact-list__item {{ prefix }}__contacts-item col-xs-12 {% if prefix == 'footer' %} col-sm-6 col-md-4 {% else %} col-md-auto {% endif %}">
      <a href="#" class="header__button button button--cta">Перезвоните мне</a>
    </div>
  {% endif %}
</div>