<a href="#" class="offer-card">
  <img srcset="./assets/img/temp/offers/{{ item.image }}-mobile.jpg 1x, ./assets/img/temp/offers/{{ item.image }}-mobile@2x.jpg 2x" src="./assets/img/temp/offers/{{ item.image }}-mobile.jpg" alt="" class="offer-card__img hidden-md-up">
  <img srcset="./assets/img/temp/offers/{{ item.image }}.jpg 1x, ./assets/img/temp/offers/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/offers/{{ item.image }}.jpg" alt="" class="offer-card__img hidden-sm-down">
  <div class="offer-card__content">
    <div class="offer-card__category text-lg">акция</div>
    <div class="offer-card__date text-md">{{ item.date }}</div>
    <h3 class="offer-card__title h2">{{ item.title }}</h3>
    {% if item.info %}
      <ul class="offer-card__info">
        <li><span class="hidden-md-down">Включено: </span>{{ item.info }}</li>
      </ul>
    {% endif %}
    <div class="offer-card__prices">
      <span class="offer-card__old-price">{{ item.oldPrice }}</span>
      <span class="offer-card__price h2">{{ item.price }}</span>
    </div>
    <span class="offer-card__button button button--primary button--md">Подробнее</span>
  </div>
</a>