<a href="doctor.html" class="review-card__person person">
  <img srcset="./assets/img/temp/avatars/1.jpg 1x, ./assets/img/temp/avatars/1@2x.jpg 2x" src="./assets/img/avatars/staff/1.jpg" alt="" class="person__avatar">
  <div class="person__content">
    <h6 class="person__name">Амаев Камал {% if fullName %}Шарифович{% endif %}</h6>
    <div class="person__info text-muted text-md">Лечащий врач</div>
  </div>
</a>