<div class="review-card review-card--{{ type }} {% if itemSize %}review-card--{{ itemSize }}{% endif %}" {% if type == 'video' %}data-element="video-review"{% endif %}>
  {% if type == 'site' %}
    <div class="review-card__header">
      <h6 class="review-card__name">{{ item.name }}</h6>
      <div class="review-card__date text-md text-muted">{{ item.date }}</div>
    </div>

    <p class="review-card__text">{{ item.text }}</p>

    {% if item.more %}
      <div class="review-card__more">
        <a href="#" class="review-card__more button button--link">
          <span class="button__text">Читать полностью</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>
    {% endif %}

    {% include '_person.twig' with { fullName: true } %}

    {% elseif type == 'external' %}
    <div class="review-card__header">
      <img src="./assets/img/temp/logos/{{ item.logo }}.svg" alt="" class="review-card__logo">
      <div class="review-card__header-content">
        <div class="review-card__date text-md text-muted">{{ item.date }}</div>
        <div class="product-card__rating-stars rating-stars" data-rate="{{ item.rating }}">
          {% for i in 1..5 %}
            <i class="rating-stars__star icon-star"></i>
          {% endfor %}
        </div>
      </div>
    </div>

    <h6 class="review-card__name">{{ item.name }}</h6>
    <p class="review-card__text">{{ item.text }}</p>

    {% if item.more %}
      <div class="review-card__more">
        <a href="#" class="review-card__more button button--link">
          <span class="button__text">Читать полностью</span>
          <i class="button__icon icon-chevron-right"></i>
        </a>
      </div>
    {% endif %}

    {% elseif type == 'written' %}
    <div class="review-card__info">
      <a href="./assets/img/temp/reviews/1.png" class="review-card__picture" data-element="gallery-trigger">
        <img srcset="./assets/img/temp/reviews/1.png 1x, ./assets/img/temp/reviews/1@2x.png 2x" src="./assets/img/temp/reviews/1.png" alt="" class="review-card__img">
      </a>
      {% include '_person.twig' %}
    </div>

    <div class="review-card__content">
      <p class="review-card__text hidden-md-down">{{ item.text }}</p>

      {% if item.more %}
        <div class="review-card__more">
          <a href="#" class="review-card__more button button--link">
            <span class="button__text">Читать полностью</span>
            <i class="button__icon icon-chevron-right"></i>
          </a>
        </div>
      {% endif %}
    </div>

    {% elseif type == 'video' %}
    <a href="#" class="review-card__picture">
      {% if i == 2 %}
        <img src="https://i.ytimg.com/vi/cQgpHufB-5k/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB_BjiL7xlsEO0js6woh8s-ABA3sg" alt="" class="review-card__img">
      {% endif %}
      <i class="review-card__volume icon-volume"></i>
    </a>

    <div class="review-card__body">
      <div class="review-card__video">
        {% if i == 2 %}
          <iframe src="https://www.youtube.com/embed/cQgpHufB-5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="player-{{ i }}"></iframe>
        {% endif %}
        <i class="review-card__volume icon-volume"></i>
      </div>
      <a href="#" class="review-card__content">
        <div class="review-card__header">
          <div class="review-card__date text-muted">{{ item.date }}</div>
          <h6 class="review-card__name">{{ item.name }}</h6>
          <i class="review-card__toggle icon-chevron-down"></i>
        </div>
        <div class="review-card__more">
          <span class="review-card__more button button--link">All-on-6</span>
        </div>
      </a>
    </div>
  {% endif %}
</div>