<a href="doctor.html" class="staff-card">
  <div class="staff-card__picture">
    <img srcset="./assets/img/temp/staff/{{ item.image }}.jpg 1x, ./assets/img/temp/staff/{{ item.image }}@2x.jpg 2x" src="./assets/img/temp/staff/{{ item.image }}.jpg" alt="" class="staff-card__img">
  </div>
  <h6 class="staff-card__name">
    {{ item.lastName }} <br>
    {{ item.name }}
  </h6>
  <p class="staff-card__job text-muted">{{ item.job }}</p>
  <p class="staff-card__info text-muted">
    <i class="staff-card__info-icon icon-info"></i>
    {{ item.info }}
  </p>
  <span class="staff-card__button button button--link">
    <span class="button__text">Подробнее</span>
    <i class="button__icon icon-chevron-right"></i>
  </span>
</a>