<div class="work-card">
  <div class="row">
    <div class="work-card__example col-xs-12 col-lg-6">
      <div class="example example--work-card">
        <div class="example__inner beer-slider" data-element="ba-slider" data-element-v2="ba-slider">
          <img src="./assets/img/temp/examples/after.jpg" alt="" class="example__img">
          <div class="example__img-before beer-reveal">
            <img src="./assets/img/temp/examples/before.jpg" alt="" class="example__img">
          </div>
        </div>
      </div>
    </div>

    <div class="work-card__details col-xs-12 col-lg-6">
      {% if item.tags %}
        <ul class="work-card__tags">
          {% for tag in item.tags %}
            <li class="work-card__tag">
              <a href="{{ tag.href }}" class="work-card__tag-link text-muted">{{ tag.text }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}

      <h4 class="work-card__title">{{ item.title }}</h4>
      <p class="work-card__desc">{{ item.desc }}</p>

      <ul class="work-card__doctors row">
        {% for doctor in item.doctors %}
          <li class="work-card__doctor col-xs-12 col-sm-6">
            <a href="doctor.html" class="work-card__doctor-link person">
              <img srcset="./assets/img/temp/avatars/{{ doctor.image }}.jpg 1x, ./assets/img/temp/avatars/{{ doctor.image }}@2x.jpg 2x" src="./assets/img/avatars/staff/{{ doctor.image }}.jpg" alt="" class="person__avatar">
              <div class="person__content">
                <h6 class="person__name">{{ doctor.name }}</h6>
                <div class="person__info text-muted text-md">{{ doctor.position }}</div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

      <a href="{{ item.categoryLink.href }}" class="work-card__category-link button button--link">
        <span class="button__text">{{ item.categoryLink.text }}</span>
        <i class="button__icon icon-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
