<div class="header__col col-xs-12 col-lg-auto">
  <ul class="header__contacts-list contact-list row row--sm text-md align-xs-center justify-xs-between">
    <li class="header__contacts-item contact-list__item col">
      <a href="mailto:{{ company.email }}" class="contact text-md link-inherit">
        <span class="contact__text">{{ company.email }}</span>
      </a>
    </li>
    <li class="header__contacts-item contact-list__item col">
      <a href="tel:{{ company.phone.link }}" class="contact contact--accented link-hidden">
        <span class="contact__text">{{ company.phone.number }}</span>
      </a>
    </li>
    <li class="header__contacts-item contact-list__item col">
      <a href="#modal-call" class="contact contact--accented link-primary" data-element="modal-trigger">
        <i data-feather="phone-incoming" class="contact__icon"></i>
        <span class="contact__text">Обратная связь</span>
      </a>
    </li>
  </ul>
</div>