<ul class="{{ menuClass }} icons-menu row align-xs-center justify-xs-end">
  {% for item in iconsMenu %}
    <li class="icons-menu__item col">
      <a href="#" class="icons-menu__link icon-{{ item.icon }}"></a>
    </li>
  {% endfor %}
</ul>