<ul class="menu {{ menuClass }}">
  {% if headerCondition or mobile %}
    {% for item in menu if item.header != false %}
      {{ menuItem.item(menuItemClass, item, true, true) }}
    {% endfor %}

    {% else %}

    {% for item in menu %}
      {{ menuItem.item(menuItemClass, item, false, false) }}
    {% endfor %}
  {% endif %}
</ul>