<div class="mobile-menu" data-component="mobile-menu" data-src="mobile-menu">
  <div class="container">
    <div class="mobile-menu__body">
      <form class="mobile-menu__search form search-form">
        <div class="form__group">
          <div class="form__field form__field--sm form__field--icon-left">
            <input type="text" class="form__input" placeholder="Поиск по названию, категории...">
            <i data-feather="search" class="form__field-icon"></i>
          </div>
          <button class="form__field-button button button--secondary" type="submit" data-element="search-submit">Найти</button>
        </div>
      </form>

      <div class="mobile-menu__menu catalog-menu">
        {% for section in menu if not section.navbarOnly %}
          <div class="catalog-menu__section collapsible is-collapsed" data-component="collapsible">
            <h6 class="catalog-menu__section-title collapsible__toggle">
              <a href="catalog-category.html" class="link-inherit">{{ section.title }}</a>
              <i data-feather="chevron-down" class="catalog-menu__section-toggle" data-element="collapsible-toggle"></i>
            </h6>
            <ul class="catalog-menu__list text-md collapsible__content" data-element="collapsible-content">
              {% for item in section.list %}
                <li class="catalog-menu__item">
                  <a href="catalog-section.html" class="link-inherit">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>