{% for item in nav %}
  {% if item.navTwo %}  
    <div class="nav__two subnav" data-subnav={{item.navTwoData}}>
      <div class="subnav__caption">{{item.name}}</div>
      <ul class="subnav__left">
        {% for index2,item2 in item.navTwo %}
          <li>
            <a href="#" class="subnav__two-link" data-subnavtwo = {{ (index2 % 2 == 0) ? '1' : '2' }}>
              {{item2}}   
              <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.0402 1.28957C10.6502 0.89957 10.0202 0.89957 9.63022 1.28957L5.75022 5.16957L1.87022 1.28957C1.48022 0.89957 0.850222 0.89957 0.460221 1.28957C0.070221 1.67957 0.070221 2.30957 0.460221 2.69957L5.05022 7.28957C5.44022 7.67957 6.07022 7.67957 6.46022 7.28957L11.0502 2.69957C11.4302 2.31957 11.4302 1.67957 11.0402 1.28957Z"/>
              </svg>
            </a>
            {% if (index2 % 2 == 0) %} 
              <div class="subnav__item-mobile">
                <div class="subnav__caption">{{item2}}</div>
                {% for item3 in item.navThree1 %}
                  <ul>
                    {% for item4 in item3 %}
                      <li>
                        <a href="#" class = {{ item4.popular ? 'popular' : '' }}>
                          {% if item4.popular %} 
                            {{item4.text}}
                          {% else %} 
                            {{item4}}
                          {% endif%}
                          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.29055 0.709778C0.900547 1.09978 0.900547 1.72978 1.29055 2.11978L5.17055 5.99978L1.29055 9.87978C0.900547 10.2698 0.900547 10.8998 1.29055 11.2898C1.68055 11.6798 2.31055 11.6798 2.70055 11.2898L7.29055 6.69978C7.68055 6.30978 7.68055 5.67978 7.29055 5.28978L2.70055 0.699778C2.32055 0.319778 1.68055 0.319778 1.29055 0.709778Z" fill="#54443E"/>
                          </svg>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            {% else %} 
              <div class="subnav__item-mobile">
                <div class="subnav__caption">{{item2}}</div>
                {% for item3 in item.navThree2 %}
                  <ul>
                    {% for item4 in item3 %}
                      <li>
                        <a href="#" class = {{ item4.popular ? 'popular' : '' }}>
                          {% if item4.popular %} 
                            {{item4.text}}
                          {% else %} 
                            {{item4}}
                          {% endif%}
                          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.29055 0.709778C0.900547 1.09978 0.900547 1.72978 1.29055 2.11978L5.17055 5.99978L1.29055 9.87978C0.900547 10.2698 0.900547 10.8998 1.29055 11.2898C1.68055 11.6798 2.31055 11.6798 2.70055 11.2898L7.29055 6.69978C7.68055 6.30978 7.68055 5.67978 7.29055 5.28978L2.70055 0.699778C2.32055 0.319778 1.68055 0.319778 1.29055 0.709778Z" fill="#54443E"/>
                          </svg>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            {% endif%}
          </li>
        {% endfor %}
      </ul>
      <div class="subnav__right">
        <div class="subnav__item-block active" data-subnavtwo="1">
          {% for item3 in item.navThree1 %}
            <ul>
              {% for item4 in item3 %}
                <li>
                  <a href="#" class = {{ item4.popular ? 'popular' : '' }}>
                    {% if item4.popular %} 
                      {{item4.text}}
                    {% else %} 
                      {{item4}}
                    {% endif%}
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.29055 0.709778C0.900547 1.09978 0.900547 1.72978 1.29055 2.11978L5.17055 5.99978L1.29055 9.87978C0.900547 10.2698 0.900547 10.8998 1.29055 11.2898C1.68055 11.6798 2.31055 11.6798 2.70055 11.2898L7.29055 6.69978C7.68055 6.30978 7.68055 5.67978 7.29055 5.28978L2.70055 0.699778C2.32055 0.319778 1.68055 0.319778 1.29055 0.709778Z" fill="#54443E"/>
                    </svg>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
        <div class="subnav__item-block" data-subnavtwo="2">
          {% for item3 in item.navThree2 %}
            <ul>
              {% for item4 in item3 %}
                <li>
                  <a href="#" class = {{ item4.popular ? 'popular' : '' }}>
                    {% if item4.popular %} 
                      {{item4.text}}
                    {% else %} 
                      {{item4}}
                    {% endif%}
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.29055 0.709778C0.900547 1.09978 0.900547 1.72978 1.29055 2.11978L5.17055 5.99978L1.29055 9.87978C0.900547 10.2698 0.900547 10.8998 1.29055 11.2898C1.68055 11.6798 2.31055 11.6798 2.70055 11.2898L7.29055 6.69978C7.68055 6.30978 7.68055 5.67978 7.29055 5.28978L2.70055 0.699778C2.32055 0.319778 1.68055 0.319778 1.29055 0.709778Z" fill="#54443E"/>
                    </svg>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif%}
{% endfor %}