<div class="header__navbar navbar bg-white hidden-lg-down">
  <div class="container">
    <div class="navbar__slider swiper" data-slider="navbar">
      <div class="swiper-wrapper">
        {% for section in menu %}
          <div class="navbar__slide swiper-slide">
            <a href="catalog-category.html" class="navbar__link text-md link-inherit">{{ section.title }}</a>
            {% if section.list %}
              <ul class="navbar__submenu submenu text-md">
                {% for item in section.list %}
                  <li class="submenu__item">
                    <a href="catalog-section.html" class="submenu__link link-inherit">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>