.footer {
    background: linear-gradient(0deg, rgba($black, 0.2), rgba($black, 0.2)), linear-gradient(270deg, $brown-200, $brown-100);
    padding-top: rem($spacer-8);
    padding-bottom: rem(42px);
    color: $white;

    &__container {
        max-width: 1290px;
    }

    &__contacts {
        margin-bottom: rem(34px);

        &-item {
            margin-bottom: rem($spacer-5);
        }
    }

    &__menu {
        margin-bottom: rem(29px);

        &-section {
            margin-bottom: rem(34px);
        }

        &-list {
            @include list-unstyled;
            letter-spacing: -0.015em;
        }
    }

    &__createdby {
        display: inline-block;
        @include font(9.5px, 13.01px);
        letter-spacing: -0.015em;

        &-logo {
            display: block;
            margin-bottom: rem($spacer);
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(60px);
        padding-bottom: rem(17px);

        &__contacts {
            margin-bottom: rem($spacer-9);
        }

        &__menu {
            margin-bottom: rem(- $spacer-4);

            &-section {
                margin-bottom: rem(28px);
            }
        }

        &__bottom {
            text-align: right;
        }
    }

    @include media-breakpoint-up(lg) {
        &__contacts {
            .contact-list__icon.icon-phone {
                margin-left: rem(- $spacer-9);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__contacts {
            padding-left: 25.5%;
        }
    }

    @include media-breakpoint-up(xl) {
        &__createdby {
            margin-right: rem(- $spacer-5);
        }
    }
}