.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $header-z-index;
    transition: .25s ease-in-out;
    background-color: $body-bg;

    &.is-scrolled {
        box-shadow: 0 4px 4px rgba($black, .05);
    }

    &.is-scrolled & {
        &__top {
            margin-top: rem(- $spacer-10);
        }
        &__contacts {
            margin-top: rem(-70px);
        }
        &__logo-img {
            display: none;
        }
        &__logo-imglow {
            display: block;
            position: relative;
            top: -2px;
        }
    }

    &.open-subnav {
        @media screen and (max-width: 900px) {
            & .header__col--logo,
            & .header__col--tel,
            & .header__col--btn-mob {
                display: none;
            }

            & .header__close-subnav {
                display: flex;
            }
        }
    }

    &__close-subnav {
        display: none;

        @media screen and (max-width: 900px) {
            align-items: center;
            justify-content: center;
            margin-right: auto;
            width: 60px;
            appearance: none;
            padding: 0;
            border: none;
            background: none;
            outline: none;
        }
    }

    &__col {

        &--btn-mob,
        &--tel {
            @media screen and (max-width: 576px) {
                padding-right: 0;
            }
        }
        
        &--logo {
            margin-right: auto;
        }

        &--welcome {
            flex: 1;
            margin-left: 15%;
        }

        &--icons-menu {
            width: 15%;
            flex: 0 0 15%;
        }

        &--content {
          position: static;
        }
    }

    &__top {
        display: none;
        text-align: center;
        transition: .25s ease-in-out;
        font-weight: $font-weight-medium;

        &-row {
            height: rem($spacer-10);
        }
    }

    &__main {
        position: relative;
        z-index: $header-z-index + 1;

        &-row {
            position: relative;

            flex-wrap: nowrap;
            height: rem($header-height-mobile);
        }
    }

    &__logo {
        &-img {
            display: block;
        }
        &-imglow {
            display: none;
        }
    }

    &__phone-link {
        font-size: rem($spacer-6);

        @media(max-width: 576px) {
            font-size: 17px;
        }
    }

    &__button-mobile {
        padding-top: rem($spacer-3);
        padding-bottom: rem($spacer-2);
        min-width: 0;

        @media(max-width: 900px) {
            padding: 6px 20px;
        }
    }

    &__contacts {
        &-item {
            //margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-down(lg) {
        &__mobile-menu {
            position: fixed;
            top: rem($header-height-mobile);
            right: 0;
            bottom: 0;
            transform: translateX(100%);
            width: 100%;
            max-width: rem(375px);
            min-height: calc(100vh - #{rem($header-height-mobile)});
            overflow-y: auto;
            overflow-x: hidden;
            background-color: $white;
            z-index: $header-z-index;
            display: flex;
            flex-direction: column;
            padding: rem($spacer-5 $gutter $spacer-3);

            &.is-visible {
                transform: translateX(0);
                transition: transform .25s ease-in-out;
            }
        }

        &__nav {
            order: -1;
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(xl) {
        &__col {
            &--logo {
                width: rem(181px);
                flex: 0 0 rem(181px);
            }

            &--content {
                flex: 1;
            }
        }

        &__top {
            display: block;
        }

        &__main {
            &-row {
                height: auto;
            }
        }

        &__logo {
            &-img {
                width: 100%;
            }
        }

        &__contacts {
            padding-top: rem(10px);
            padding-bottom: rem(30px);
            justify-content: space-between;
            align-items: center;
            transition: .25s ease-in-out;

            &-list {
                flex-wrap: nowrap;
                white-space: nowrap;
            }

            .contact__icon {
                color: inherit;
            }
        }

        &.is-scrolled & {
            &__contacts {
                padding-bottom: rem(10px);
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &__logo-img {
            display: none;
        }
        &__logo-imglow {
            display: block;
        }
    }

    &__mobile-menu {
      @media screen and (max-width: 900px) {
        width: 335px;
        max-width: 335px;

        & .contact-list__title {
          font-size: 18px;
        }

        & .contact-list__content {
            margin-bottom: 15px;
        }
      }

      @media screen and (max-width: 576px) {
        padding: 10px;

        & .button {
          margin-top: 37px;
          min-width: 100%;
        }
      }
    }
}