.icons-menu {
    @include list-unstyled;
    flex-wrap: nowrap;

    &__link {
        display: block;
        font-size: rem(26px);
        color: inherit;

        &.icon-search {
            font-size: rem(17px);
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}