.main {
    padding-top: rem($header-height-mobile);
    flex: 1;
    overflow: hidden;

    &__body {
        margin-bottom: rem(80px);
    }

    @include media-breakpoint-up(lg) {
        &__aside {
            position: relative;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem($header-height);

        &__aside {
            padding-right: rem($gutter * 1.5);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}