.nav {
    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-4);
        
        @media screen and (max-width: 900px) {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: $font-weight-medium;
        padding-top: rem(10px);
        padding-bottom: rem(10px);

        @media screen and (max-width: 900px) {
            display: flex;
            align-items: center;
        }

        & > svg {
          margin-left: 3px;
          transition: all 0.2s ease-in-out;

          @media screen and (max-width: 900px) {
              margin-left: auto;
              transform: rotate(-90deg);
          }
        }

        &.active {
          & > svg {
            transform: rotate(180deg);
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 900px) {
                margin-left: auto;
                transform: rotate(-90deg);
            }
          }
        }
    }

    &__count {
        display: inline-block;
        vertical-align: middle;
        @include size(rem(19px));
        @include rounded;
        background-color: $yellow;
        color: $white;
        @include font(11px, 22.01px);
        text-align: center;
        margin-left: rem(1px);
        position: relative;
        top: rem(-2px);
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        padding: rem(10px 0 $spacer-5);

        .is-scrolled & {
            padding-bottom: rem(10px);
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__item {
            margin-bottom: 0;
        }

        &__link {
            padding-left: rem(10px);
            padding-right: rem(10px);
        }
    }
}