.subnav {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  max-width: 1440px;
  height: 721px;
  max-height: calc(100vh - 214px);
  overflow-y: auto;

  display: flex;
  align-items: flex-start;

  background-color: $white;

  transform: scaleY(0) translateX(-50%);
  transform-origin: 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: 1279px) {
    width: calc(100% - 375px);
    max-height: calc(100vh - 60px);
    left: 0;
    transform: scaleY(1) translateX(-100%);
  }

  @media screen and (max-width: 900px) {
    display: block;
    top: 60px;
    z-index: 101;
    left: -101%;
    transform: initial;
  }

  &.active {
    transform: scaleY(1) translateX(-50%);
    transform-origin: 0 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 1279px) {
      width: calc(100% - 375px);
      left: 0;
      transform: scaleY(1) translateX(0);
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      left: 0;
      transform: initial;
    }
  }

  &__caption {
    display: none;

    @media screen and (max-width: 900px) {
      display: block;
      
      padding: 10px 30px;
      font-size: 21px;
      font-weight: 700;
    }
  }

  &__left {
    flex: 0 0 351px;
    list-style: none;
    margin: 0;
    padding: 42px 31px 10px 69px;

    background-color: $gray-120;

    @media screen and (max-width: 1279px) {
      padding: 15px;
      flex-basis: 290px;
    }
        
    @media screen and (max-width: 900px) {
      padding: 0 20px 20px 20px;
      background: #ffffff;
    }

    & li {
      margin-bottom: 11px;
        
      @media screen and (max-width: 900px) {
        margin-bottom: 0;
      }
    }

    & a {
      display: flex;
      align-items: center;
      padding: 10px;

      font-weight: 400;
      line-height: 1.1;
      font-size: 18px;
      color: $black;
      border-radius: 10px;
        
      @media screen and (max-width: 900px) {
        font-size: 16px;
        font-weight: 500;
        padding-top: rem(10px);
        padding-bottom: rem(10px);
        font-size: 1rem;
        line-height: 1.62563;
      }

      @media screen and (max-width: 576px) {
        border-radius: 1px;
      }

      & > svg {
        display: none;
        margin-left: 4px;
        transition: all 0.2s ease-in-out;
        fill: $black;

        @media screen and (max-width: 900px) {
          display: block;
          margin-left: auto;
          transform: rotate(-90deg);
        }
      }

      &.active {
        & > svg {
          transform: rotate(180deg);
          transition: all 0.2s ease-in-out;

          @media screen and (max-width: 900px) {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  &__left > li > a {
    &:focus,
    &:hover,
    &:active {
      color: $white;
      background-color: $brown-200;

      @media screen and (max-width: 900px) {
        background: none;
        color: $black;
      }

      & > svg {
        fill: $white;

        @media screen and (max-width: 900px) {
          fill: initial;
        }
      }
    }
  }

  &__right {
    columns: 2;
    padding: 49px 72px 20px;
    flex: 0 0 calc(100% - 351px);

    @media screen and (max-width: 1279px) {
      padding: 15px 20px;
      flex-basis: calc(100% - 290px);
    }

    @media screen and (max-width: 1024px) {
      columns: initial;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }

    & ul {
      list-style: none;
      margin: 0;
      margin-bottom: 22px;
      padding: 0;
    }

    & li {
      margin-bottom: 10px;
    }

    & a {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.1;
      color: $black;

      & svg {
        display: none;
        margin-left: 9px;
        margin-bottom: 2px;
      }

      &:focus,
      &:hover,
      &:active {
        cursor: pointer;

        & svg {
          display: inline;
        }
      }

      &.popular {
        text-decoration: underline;
        color: $brown-200;
      }
    }
  }

  &__item-block {
    display: none;

    &.active {
      display: block;
    }
  }

  &__item-mobile {
    @media screen and (min-width: 901px) {
      display: none !important;
    }

    position: fixed;
    left: -150%;
    top: 60px;
    z-index: 112;
    width: 100%;
    height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    padding-bottom: 20px;

    background-color: $white;
    transition: all 0.2s ease-in-out;

    &.active {
      left: 0;
      transition: all 0.2s ease-in-out;
      overflow-y: auto;
    }

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    & a {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      padding-left: 30px;
      padding-right: 10px;
      padding-top: rem(10px);
      padding-bottom: rem(10px);
      font-size: 1rem;
      line-height: 1.62563;

      & svg {
        display: none;
        margin-left: 9px;
        margin-bottom: 2px;
      }

      &:focus,
      &:hover,
      &:active {
        cursor: pointer;

        & svg {
          display: none;
        }
      }

      &.popular {
        text-decoration: underline;
        color: $brown-200;
      }
    }
  }
}