.article-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: $white;
  border-radius: 10px;

  &__cover {
    position: relative;
    width: 100%;
    padding-top: percentage(294 / 416);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: rem($spacer-4);
  }

  &__time {
    display: block;
    margin-bottom: rem($spacer-2);

    font-weight: 300;

    color: $gray-450;
  }

  &__lead-wrapper {
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin-bottom: rem($spacer-2);

    font-size: rem(10px);
    line-height: 1;
  }

  &__title {
    display: inline;
    margin: 0;

    font-weight: 500;
    font-size: rem(18px);
    line-height: percentage(26 / 18);
  }

  &__lead {
    display: inline;
    margin: 0;

    font-size: rem(16px);
    line-height: percentage(26 / 16);

    color: $gray-700;
  }

  &__link {
    margin-top: auto;
  }

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    &__inner {
      padding: rem($spacer-8);
      padding-top: rem($spacer-4);
    }
  }

  @include media-breakpoint-up(xl) {
  }
}
