.benefit {
    display: flex;
    flex-direction: column;
    background: linear-gradient(104.46deg, $gray-220, $gray-140);
    border: 1px solid $gray-250;
    border-radius: $border-radius-lg;
    min-height: rem(282px);
    height: 100%;

    &__content {
        margin: rem(27px $spacer-6 0);
    }

    &__label {
        margin-bottom: rem($spacer-3);
    }

    &__title {
        margin-bottom: rem(14px);
        letter-spacing: -0.015em;
        font-weight: $font-weight-bold;
    }

    &__description {
        color: $gray-700;
        @include em-line-height($font-size-base, $line-height-base-2);
    }

    &__picture {
        margin-top: auto;
        margin-bottom: rem($spacer-4);
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(md) {
        &__content {
            margin-left: rem($spacer-8);
            margin-right: rem($spacer-8);
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
        min-height: rem(224px);

        &__content {
            max-width: rem(255px);
            flex: 0 0 50%;
            margin-right: 0;
            margin-bottom: rem($spacer-6);
        }

        &__picture {
            margin-top: 0;
            align-self: center;
            width: 42%;
            flex: 0 0 42%;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}