.breadcrumb {
    @include font(15px, 25.01px);
    margin-bottom: rem($spacer-4);

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: inline;
        margin-right: rem(5px);

        &:before {
            font-size: rem(10px);
            margin-right: rem($spacer-2);
            color: $gray-500;
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    &__link {
        color: $gray-500;

        @include hover-focus {
            color: $gray-800;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(30px);
    }
}