//
// Base styles
//

button,
.button {
    position:relative;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;

    @include hover-focus {
        text-decoration: none;
        outline: 0;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
            outline: 0;
        }
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        pointer-events: none;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $btn-font-weight;
    font-family: $btn-font-family;
    border: 0;
    border-radius: $btn-border-radius;
    padding: rem(( $btn-height - $btn-border-width * 2 - $btn-line-height) / 2 ($btn-padding-x - $btn-border-width));
    @include font($btn-font-size, $btn-line-height);
    white-space: normal;
    min-width: rem(177px);

    @include button-sizes();

    @include button-variants();

    &--cta {
        color: $white;
        background: $brown-300 linear-gradient(90deg, $purple, $brown-300);

        &:hover,
        &:focus,
        &:active {
            color: $white;
            background: $brown-300;
        }
    }

    &--link {
        padding: 0;
        min-width: 0;
        color: $primary;
    }

    &__icon {
        font-size: rem($spacer-6);
        top: -1px;
    }

    &--outline-primary {
        border-width: 1px;
        border-style: solid;

        &.button--sm {
            padding-top: rem(11px);
            padding-bottom: rem(5px);
        }
    }

    &--outline-primary & {
        &__icon {
            margin-left: rem(10px);
            margin-right: rem(10px);
            margin-top: -.25em;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:only-child {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &.disabled,
    &.is-disabled,
    &:disabled {
        opacity: 0.6;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
a.button.is-disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}

//
// Block button
//

.button--block {
    width: 100%;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button_block {
        width: 100%;
    }
}