.certificate-card {
    display: block;
    color: $gray-700;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__picture {
        @include aspect-ratio-block(450/312);
        border-radius: rem(5px);
        margin-top: auto;
    }

    &__img {
        @extend %cover-image;
    }

    &__icon {
        position: absolute;
        right: rem($spacer-3);
        bottom: rem($spacer-5);
        color: $white;
        z-index: 1;
        font-size: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem(18px);
        max-width: 21em;
    }

    &--doctor & {
        &__picture {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            margin-top: 0;
            background-color: $white;
            height: rem(265px);

            &:after {
                display: none;
            }
        }

        &__img {
            position: static;
            min-width: 0;
            max-width: 100%;
            min-height: 0;
            transform: none;
        }

        &__icon {
            right: rem($spacer-7);
            bottom: rem($spacer-6);
            color: $base-color;
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
        text-align: left;

        &__picture {
            order: -1;
            margin-top: 0;
            margin-bottom: rem($spacer-5);
        }

        &__title {
            margin-bottom: 0;
        }

        &--doctor & {
            &__picture {
                height: rem(282px);
                margin-bottom: 0;
            }
        }
    }
}