.collapsible {
    &__toggle {
        cursor: pointer;
        transition: .25s ease-in-out;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
   }

    &__content {
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        transition: .25s ease-in-out;

        .collapsible.is-collapsed & {
            max-height: 0 !important;
            opacity: 0;
            visibility: hidden;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}