.contact-list {
    &__item {
        display: flex;
        align-items: flex-start;
    }

    &__icon {
        font-size: rem($spacer-6);
        margin-right: rem($spacer-3);

        &.icon-moscow-metro {
            color: $red-100;
        }
    }

    &__title {
        font-weight: $font-weight-medium;
    }

    &__note {
        margin-top: rem(-1px);
    }
}