.details {
    margin-bottom: rem(-10px);

    &__label,
    &__data {
        margin-bottom: rem(10px);
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: rem(60px);
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        grid-template-columns: minmax(auto, rem(450px)) minmax(auto, rem(450px));
        justify-content: center;
        grid-column-gap: 9.5%;

        &__col {
            display: grid;
            grid-template-columns: max-content auto;
            grid-column-gap: rem(30px);
            grid-row-gap: rem(19px);
        }

        &__label,
        &__data {
            margin-bottom: 0;
        }
    }
}