.example {
    display: block;
    border-radius: rem(10px);
    overflow: hidden;

    &--work-card {
        position: relative;
        padding-bottom: percentage(355 / 610);

        .beer-handle {
            width: 10px;
            height: 52px;

            background-color: $white;
            border-radius: 2px;

            &::before,
            &::after {
                content: unset;
            }
        }

        .beer-range:focus ~ .beer-handle {
            background: $gray-100;
        }
    }

    &--work-card & {
        &__inner {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        &__img,
        &__img-before > .example__img:first-child {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    @include media-breakpoint-up(md) {
      &--work-card {

          .beer-handle {
              width: 18px;
              height: 90px;

              border-radius: 4px;
          }
      }
    }

    @include media-breakpoint-up(lg) {
    }
}
