.file {
    display: flex;
    align-items: center;
    color: inherit;

    &__icon {
        font-size: rem($spacer-6);
        margin-right: rem(19px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}