.files {
    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-5);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}