.filter {
    margin-bottom: rem(- $spacer-5);

    &__label {
        font-weight: $font-weight-medium;
        margin-bottom: rem($spacer-5);
        padding-right: rem($spacer);
    }

    &__item {
        margin-bottom: rem($spacer-5);
    }

    @include media-breakpoint-up(xl) {
    }
}