.list {
    &-check {
        @include list-unstyled;
        margin-bottom: rem(- $spacer-5);

        > li {
            position: relative;
            padding-left: rem(34px);
            margin-bottom: rem($spacer-5);

            &:before {
                position: absolute;
                top: rem(( $line-height-base - #{rem($spacer-6)}) * .5);
                left: 0;
                font-size: rem($spacer-6);
                color: $gray-700;
            }
        }
    }

    &-dot {
        @include list-unstyled;

        > li {
            position: relative;
            padding-left: rem(22px);

            &:before {
                position: absolute;
                top: rem(( $line-height-base - $spacer) * .5);
                left: rem(2px);
                @include size(rem($spacer));
                @include rounded;
                background-color: $gray-300;
                content: '';
            }
        }
    }

    @include media-breakpoint-up(md) {
    }
}