.menu-card {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: rem(10px);
    padding-right: rem(10px);
    min-height: rem(121px);
    height: 100%;

    &--size-lg {
      position: relative;
      display: block;
      padding: rem($spacer-8);
      min-height: rem(224px);
    }

    &__picture {
        display: flex;
        align-items: center;
        align-self: stretch;
        max-width: rem(147px);
        flex: 0 0 44%;
        padding-left: rem($spacer-3);
        padding-right: rem($spacer-3);

        &.align-xs-bottom {
            align-items: flex-end;
        }

        .menu-card--size-lg & {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;

          max-width: unset;
          padding: 0;
        }
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        .menu-card--size-lg & {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 2;

            height: 100%;
            padding-right: rem(140px);
        }
    }

    &__title {
        margin-right: auto;
        margin-bottom: 0;
        font-weight: $font-weight-normal;

        .menu-card--size-lg & {
          margin: 0;
          margin-bottom: rem($spacer-3);

          color: $black;
        }
    }

    &__memo {
        .menu-card--size-lg & {
            color: $gray-700;
        }
    }

    &__price {
        .menu-card--size-lg & {
            margin-top: auto;
            margin-bottom: 0;
        }
    }

    &__button {
        display: none;

        &--absolute {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .menu-card--size-lg & {
          margin: 0;
          margin-top: rem($spacer-5);
        }
    }

    &--primary {
        color: $primary;

        @include hover-focus {
            color: $primary;
        }
    }

    &--primary & {
        &__picture {
            max-width: rem(158px);
        }
    }

    &--modified & {
      &__picture {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (min-width: 375px) {
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            @include size(rem(37px));
            flex: 0 0 rem(37px);
            @include rounded;
            background-color: $white;
            box-shadow: 0 4px 4px rgba($black, 0.15);
            margin-left: rem($spacer-4);
        }
    }

    @include media-breakpoint-down(sm) {
        &--size-lg {
            min-height: unset;
        }
    }

    @include media-breakpoint-down(md) {
        &__title {
            @include font($font-size-base, $line-height-base);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-right: rem($spacer-10);

        &--size-lg {
          padding-right: rem($spacer-8);
        }

        &__title {
            margin-left: rem($spacer-10);
            max-width: 8.5em;

            .menu-card--size-lg & {
                max-width: unset;
            }
        }

        &__button {
            margin-left: rem($spacer-10);
        }

        &--primary {
            padding-right: rem(60px);
        }

        &--primary & {
            &__picture {
                max-width: rem(168px);
            }
        }

        &--modified & {
          &__title {
            margin-left: 0;
          }
        }
    }
}
