.offer-card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius-lg;
    border: 1px solid $gray-250;
    height: 100%;
    min-height: rem(400px);
    padding: rem(27px $spacer-6 31px);
    color: $white;
    text-align: center;

    &__img {
        @extend %cover-image;
        z-index: -1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    &__category {
        font-weight: $font-weight-medium;
        margin-bottom: rem(-3px);
    }

    &__date {
        display: none;
    }

    &__title {
        margin-bottom: rem($spacer);
    }

    &__info {
        @include list-unstyled;
        margin-top: rem(-1px);
        margin-bottom: rem($spacer);

        > li {
            &:before {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: rem(10px);
                font-size: rem(23px);
                color: $green-200;
            }
        }
    }

    &__prices {
        margin-bottom: rem($spacer-7);
    }

    &__old-price {
        font-weight: $font-weight-light;
        letter-spacing: -0.03em;
        text-decoration-line: line-through;
        margin-right: rem($spacer-2);
    }

    &__button {
        margin-top: auto;
        min-width: rem(178px);
    }

    @include hover-focus {
        color: $white;
    }

    @include media-breakpoint-down(sm) {
        &__title {
            @include font(25px, 33.01px);
        }

        &__old-price {
            @include font($font-size-h4, $line-height-h4);
        }

        &__price {
            @include font(25px, 33.01px);
        }
    }

    @include media-breakpoint-up(md) {
        text-align: left;
        min-height: rem(317px);

        &__content {
            align-items: flex-start;
            width: 80%;
            max-width: rem(650px);
        }

        &__category {
            margin-bottom: rem(15px);
        }

        &__date {
            display: block;
            position: absolute;
            top: rem(22px);
            right: rem(21px);
            background-color: $white;
            border-radius: $border-radius-lg;
            padding: rem($spacer-2 10px 5px);
            color: $primary;
        }

        &__title {
            margin-bottom: rem($spacer-5);
        }

        &__info {
            margin-top: rem(-11px);
            margin-bottom: rem(6px);

            > li {
                position: relative;
                padding-left: rem(31px);

                &:before {
                    position: absolute;
                    top: rem(-2px);
                    left: 0;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }

        &__old-price {
            @include font(24px, 34.01px);
            margin-right: rem(18px);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-left: rem($spacer-10);
        padding-right: rem($spacer-10);
    }
}