.person {
    display: flex;
    align-items: center;
    color: inherit;

    &__avatar {
        display: block;
        @include rounded
        @include size(rem(51px));
        flex: 0 0 rem(51px);
        margin-right: rem(15px);
    }

    &__name {
        margin-bottom: rem(3px);
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
    }
}