.range-widget {
    &__input-group {
        display: flex;
        margin-bottom: rem($spacer-3);
    }

    &__field {
        flex: 1;
    }

    &__field + &__field {
        margin-left: rem(- $input-border-width);
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}