.rating {
    display: flex;
    align-items: flex-start;

    &--lg & {
        &__count {
            @include font(20px, 20.01px);
            margin-top: rem($spacer-2);
            margin-left: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}