.rating-card {
    &__picture {
        display: flex;
        align-items: center;
        margin-bottom: rem(6px);
        height: rem($spacer-9);
    }

    &__img {
        display: block;
        max-width: rem(188px);
        max-height: 100%;
        width: auto;
    }

    @include media-breakpoint-up(md) {
    }
}