.rating-stars {
    position: relative;
    display: inline-flex;

    &__star {
        display: block;
        color: $gray-400;
        transition: color .25s ease-in-out;
        font-size: rem(18px);
        margin-right: rem(2px);

        &:last-child {
            margin-right: 0;
        }
    }

    &[data-rate="5"] &__star,
    &[data-rate="1"] &__star:nth-child(-n+1),
    &[data-rate="2"] &__star:nth-child(-n+2),
    &[data-rate="3"] &__star:nth-child(-n+3),
    &[data-rate="4"] &__star:nth-child(-n+4) {
        color: $yellow;
    }

    &[data-size="23"] &__star {
        font-size: rem(23px);
        margin-right: 0;
    }

    @include media-breakpoint-up(lg) {
    }
}