.review-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    height: 100%;
    padding: rem($spacer-7 $spacer-5);
    color: inherit;

    &__person {
        margin-top: auto;
    }

    &--external & {
        &__header {
            margin-bottom: rem(45px);
            display: flex;
            align-items: center;

            &-content {
                text-align: right;
                margin-left: auto;
            }
        }

        &__logo {
            margin-right: rem($gutter);
        }

        &__name {
            margin-bottom: rem($spacer);
        }

        &__text {
            @include text-clamp(9);
            margin-bottom: rem(19px);
        }
    }

    &--site & {
        &__header {
            margin-bottom: rem($spacer-7);
        }

        &__name {
            margin-bottom: rem($spacer);
        }

        &__text {
            @include text-clamp(4);
            margin-bottom: rem(10px);
        }

        &__person {
            margin-top: auto;
            padding-top: rem($spacer-9);
        }
    }

    &--written & {
        &__picture {
            display: block;
            position: relative;
            overflow: hidden;
            border-radius: rem(5px);
            height: rem(316px);
            background: $gray-250;
            box-shadow: 0 4px 4px rgba($black, 0.15);
            margin-bottom: rem(22px);

            &:before {
                position: absolute;
                right: rem(10px);
                bottom: rem(22px);
                font-size: rem($spacer-6);
                color: $gray-700;
            }
        }

        &__img {
            @extend %cover-image;
            z-index: -1;
        }

        &__text {
            @include text-clamp(11);
            margin-bottom: rem(10px);
        }

        &__content {
            margin-top: rem(10px);
        }
    }

    &--video & {
        &__picture {
            @include aspect-ratio-block(168/94);
            background-color: $gray-200;
        }

        &__img {
            @extend %cover-image;
        }

        &__volume {
            position: absolute;
            right: rem($spacer-6);
            bottom: rem($spacer-5);
            @include size(rem(35px));
            @include rounded;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($black, 0.05);
            border: 1px solid rgba($white, 0.4);
            font-size: rem(18px);
            color: $gray-400;
            z-index: 3;

            .review-card--sm & {
                right: rem(22px);
                bottom: rem(18px);
                @include size(rem(31px));
                font-size: rem($spacer-4);
            }
        }

        &__video {
            @include aspect-ratio-block(560/315);
            background-color: $gray-200;

            iframe {
                @extend %cover-image;
            }
        }

        &__body {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: rem($gutter * -.5);
            right: rem($gutter * -.5);
            z-index: 10;
            overflow: hidden;
            border-radius: rem(5px);
            background-color: $white;
            box-shadow: 0 4px 10px rgba($black, 0.15);
            transition: .25s ease-in-out;
        }

        &__content {
            display: block;
            padding: rem(21px 22px 21px 15px);
        }

        &__header {
            position: relative;
            margin-bottom: rem(18px);
            padding-right: rem(68px);
        }

        &__date {
            @include font(13px, 17.01px);
            margin-bottom: rem($spacer-3);

            .review-card--sm & {
                margin-bottom: rem(5px);
            }
        }

        &__name {
            font-weight: $font-weight-bold;
            margin-bottom: 0;
        }

        &__toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            @include size(rem(31px));
            @include rounded;
            background-color: $primary;
            color: $white;
            font-size: rem(30px);
        }
    }

    &--video {
        padding: 0;

        @include hover-focus {
            .review-card__body {
                opacity: 1;
                visibility: visible;
                top: rem(-35px);
            }

            .review-card__volume {
                right: rem($spacer-7);
                bottom: rem($spacer-6);
                @include size(rem(41px));

                .review-card--sm & {
                    right: rem(22px);
                    bottom: rem(18px);
                    @include size(rem(31px));
                }
            }
        }
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-8);

        &--site {
            padding-left: rem(45px);
            padding-right: rem(45px);
            padding-bottom: rem(61px);
        }

        &--written & {
            &__content {
                margin-top: rem($spacer-5);
            }
        }

        &--video {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        &--written {
            flex-direction: row;
        }

        &--written & {
            &__info {
                width: rem(246px);
                flex: 0 0 rem(246px);
                margin-right: rem($spacer-10);
            }

            &__content {
                flex: 1;
                margin-top: 0;
            }
        }

        &--video & {
            &__body {
                left: rem(-81.5px);
                right: rem(-81.5px);

                .review-card--sm & {
                    left: rem(-36.5px);
                    right: rem(-36.5px);
                }
            }

            &__content {
                padding: rem($spacer-7 $spacer-7 $spacer-5 $spacer-5);

                .review-card--sm & {
                    padding: rem(21px 22px 43px 15px);
                }
            }

            &__header {
                padding-right: rem(84px);

                .review-card--sm & {
                    padding-right: rem(68px);
                }
            }

            &__toggle {
                @include size(rem(41px));
                font-size: rem(30px);

                .review-card--sm & {
                    @include size(rem(31px));
                    font-size: rem(30px);
                }
            }
        }
    }
}