.route {
    &__filter {
        @include make-row($spacer-8);
        margin-bottom: rem(48px);

        &-item {
            position: relative;
            margin-left: rem($spacer-4);
            margin-right: rem($spacer-4);
            margin-bottom: rem($spacer-2);

            &:after {
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                @include size(rem(13px));
                @include rounded;
                background-color: $primary;
                margin-left: rem(10px);
                content: ' ';
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        &-address {
            background-color: $gray-130;
            border-radius: rem(10px);
            padding: rem($spacer-3 $spacer-6 $spacer-2);
            flex: 1;
            max-width: rem(232px);
            font-weight: $font-weight-medium;
        }

        &-metro {
            background-color: $gray-130;
            border-radius: rem(10px);
            flex: 1;
            max-width: rem(232px);
            display: none;
            &.is-active {
                display: block;
            }
        }
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        position: relative;
        @include em-line-height($font-size-base, $line-height-base-2);
        @include margin-bottom(rem($spacer-7));

        &:before {
            position: absolute;
            top: rem(34px);
            left: rem(19px);
            bottom: 0;
            content: '';
            border-left: 3px dotted $gray-400;
            /*background: radial-gradient($gray-400 1.5px, transparent 1.5px);
            background-size: 6px 6px;
            width: 6px;*/
        }

        &:last-child {
            &:before {
                display: none;
            }
        }
    }

    &__icon-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(41px));
        flex: 0 0 rem(41px);
        margin-right: rem(2px);
        margin-top: rem(-12px);
    }

    &__icon {
        font-size: rem(30px);

        &.icon-parking {
            color: $blue;
            font-size: rem(41px);
        }
    }

    &__text {
        max-width: rem(434px);
    }

    @include media-breakpoint-up(lg) {
        &__filter {
            margin-bottom: rem(88px);
        }

        &__item {
            padding-bottom: rem($spacer-7);
            margin-bottom: rem(21px);

            &:last-child {
                padding-bottom: 0;
            }
        }

        &__text {
            margin-right: auto;
            padding-right: rem($spacer-6);
        }

        &__img {
            display: block;
            position: relative;
            border-radius: rem(10px);
            margin-top: rem(- $spacer-10);
            margin-left: auto;
            margin-right: rem(-130px);
            max-width: rem(174px);
            flex: 0 0 30%;
            z-index: 2;
        }
    }

    @include media-breakpoint-up(xl) {
        &__img {
            margin-right: rem(-166px);
            max-width: rem(274px);
        }
    }
}