.service-card {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-lg;
    background-color: $white;
    border: 1px solid $gray-250;
    overflow: hidden;
    min-height: rem(408px);
    height: 100%;

    &__picture {
        display: block;
        @include aspect-ratio-block(335/185);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        padding: rem($spacer-5 $spacer-8 17px);
    }

    &__title {
        margin-bottom: rem(10px);
        letter-spacing: -0.03em;
    }

    &__list {
        @include list-unstyled;
        margin-bottom: rem(25px);
    }

    @include media-breakpoint-up(sm) {
        &__content {
            padding-left: rem($spacer-5);
            padding-right: rem($spacer-5);
        }

        &__button {
            margin-top: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            &:after {
                padding-top: 59.29487%;
            }
        }
    }
}