.social {
    @include list-unstyled;
    @include make-row($spacer-2);

    &__item {
        @include make-col($spacer-2);
    }

    &__link {
        color: $white;
        display: block;
        border-radius: rem(2px);
        background-color: $gray-300;

        @include hover-focus {
            color: $white;
            background-color: $gray-500;
        }
    }

    &__icon {
        display: block;
        @include size(rem($spacer-6));
    }

    &--dark & {
        &__link {
            background-color: $gray-800;
            color: $gray-300;

            @include hover-focus {
                color: $gray-300;
                background-color: $gray-700;
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }
}