.staff-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem($spacer-5);
    background-color: $white;
    min-height: rem(460px);
    height: 100%;
    padding: rem($spacer-8 $spacer-5);
    color: inherit;
    text-align: center;

    &__picture {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: rem(30px);
        @include size(rem(194px));
        margin-bottom: rem(14px);
        box-shadow: inset 0 -4px 5px rgba($black, 0.15);
    }

    &__img {
        @extend %cover-image;
    }

    &__name {
        margin-bottom: rem(27px);
        @include em-line-height($font-size-h6, 29.01px);
    }

    &__job,
    &__info {
        margin-bottom: rem(.6875em);
    }

    &__info {
        &-icon {
            top: -1px;
            margin-right: rem($spacer);
        }
    }

    &__button {
        margin-top: auto;
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
        padding: rem(50px $spacer-10);
        min-height: rem(496px);
    }
}