.tabs {
    &__list {
        @include list-unstyled;
    }

    &__item {
        width: auto;
    }

    &__link {
        display: block;
    }

    &__content {
        display: flex;
    }

    &__tab {
        opacity: 0;
        visibility: hidden;
        transition:all 0.25s ease-in-out;
        margin-right: -100%;
        width: 100%;
        height: 0;
        overflow: hidden;

        &.is-active {
            opacity: 1;
            visibility: visible;
            height: auto;
            overflow: visible;
        }
    }

    &--pills & {
        &__list {
            display: inline-flex;
            align-items: baseline;
            margin-bottom: rem($spacer-10);
            width: auto;
        }

        &__link {
            color: #232f34;
            background-color: $white;
            border-radius: rem(10px);
            padding: rem($spacer-2 $spacer-5);
            @include font(15px, 25.01px);
            white-space: nowrap;

            &:hover:not(.is-active),
            &:focus:not(.is-active) {
                color: $primary;
            }

            &.is-active {
                color: $white;
                background-color: $primary;
                box-shadow: 0 4px 4px rgba($black, 0.25);
            }
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        &--pills & {
            &__list {
                border: 1px solid $gray-400;
                border-radius: rem(10px);
                padding: rem(6px $spacer-3);
                margin-bottom: rem(60px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}