.text-block {
    ul,
    ol,
    dl {
        @include margin-bottom(.75em);
    }

    ul {
        @include list-unstyled;
        padding-left: rem($spacer-4);

        > li {
            position: relative;
            padding-left: rem($spacer-4);
            @include margin-bottom($spacer-2);

            &:before {
                content: "";
                position: absolute;
                top: rem(( $line-height-base - $spacer) / 2);
                left: 0;
                background-color: $gray-400;
                opacity: .7;
                @include size(rem($spacer));
                @include rounded;

                .text-md & {
                    top: rem(( $line-height-base + 1 - $spacer) / 2);
                }
            }
        }
    }
    &__collapsed {
        margin-bottom: rem($spacer-9);
    }

    &__opener {
        display: none;
    }

    .is-collapsed &__opener {
        display: block;
    }

    .is-collapsed &__collapsed {
        max-height: 0 !important; 
        overflow: hidden;

    }

    @include media-breakpoint-up(lg) {
        &[data-columns] {
            column-gap: rem(76px);
            column-fill: balance;

            p,
            li,
            dl,
            section {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }

        &[data-columns="2"] {
            columns: 2;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}