.timeline {
    position: relative;
    padding-left: rem(30px);

    &:after {
        position: absolute;
        top: rem(10px);
        left: rem(4px);
        bottom: 0;
        content: '';
        background-color: $gray-700;
        width: rem(2px);
    }

    &__date {
        letter-spacing: -0.03em;
        font-weight: $font-weight-medium;
        position: relative;
        padding-bottom: rem(10px);

        &:before {
            position: absolute;
            top: rem(5px);
            left: rem(-30px);
            content: '';
            background-color: $gray-700;
            @include size(rem(10px));
            @include rounded;
        }
    }

    &__data {
        padding-bottom: rem(22px);
    }

    > *:nth-last-child(1) {
        padding-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        display: grid;
        grid-template-columns: max-content auto;
        padding-left: 0;

        &:after {
            display: none;
        }

        &__date {
            padding-right: rem(82px);
            padding-bottom: rem(22px);
            text-align: right;
            min-width: rem(175px);

            &:before {
                left: auto;
                right: rem(39px);
            }

            &:after {
                position: absolute;
                top: rem(10px);
                right: rem(43px);
                bottom: rem(-10px);
                content: '';
                background-color: $gray-700;
                width: rem(2px);
            }
        }

        &__data {
            padding-bottom: rem(22px);
        }

        > *:nth-last-child(1),
        > *:nth-last-child(2) {
            padding-bottom: 0;

            &:after {
                bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }
}