.work-card {
    &__example {
        margin-bottom: rem($spacer-9);
    }

    &__tags {
        margin-bottom: rem($spacer-3);
        padding: 0;
        list-style-type: none;

        line-height: rem(21px);
    }

    &__tag {
        display: inline-block;
    }

    &__title {
        font-weight: 700;
        margin: 0;
    }

    &__desc {
        margin-bottom: rem(21px);
        line-height: rem(21px);
    }

    &__doctors {
        margin-bottom: rem($spacer-2);
        padding: 0;
        list-style-type: none;
    }

    &__doctor {
        margin-bottom: rem($spacer-3);
    }

    &__category-link {
        width: max-content;
    }

    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(lg) {
        &__example {
            margin-bottom: 0;
        }

        &__details {
            display: flex;
            flex-direction: column;

            padding-left: rem($spacer-6);
        }

        &__tags {
            margin-bottom: rem($spacer-5);
        }

        &__doctors {
            margin-top: auto;
            margin-bottom: rem($spacer-5);
        }
    }

    @include media-breakpoint-up(xl) {
        &__details {
            padding-left: rem(72px);
        }
    }
}
